@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
body{
    color:#3b3b3d !important;
    /*font-family: 'Raleway', sans-serif !important;*/
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
     /*font-family: 'Raleway', sans-serif !important;*/
	font-family: 'Open Sans', sans-serif;
    font-weight:600;}
h1 span{
    color:#1762A9;}
hr{
    width:70%;
    text-align:center;
    border: 1px solid rgba(29, 29, 29, 0.13);}
.clear-all{clear:both;}.clear-left{clear:left;}.clear-right{clear:right;}
.fl{float:left !important;}.fr{float:right !important}.fn{float:none !important;}
.auto{width:auto !important;height:auto !important;}.wauto{width:auto !important;}.hauto{height:auto !important;}

.floatfix:before, .floatfix:after,
.container:before, .container:after
{content:""; display:table;}

.container:after, .floatfix:after{clear:both;}
.floatfix, .container{zoom:1;}

/* Border radius */
.brd-2{-webkit-border-radius:2px;-moz-border-radius:2px; border-radius:2px;}
.brd-4{-webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px;}
.brd-5{-webkit-border-radius:5px;-moz-border-radius:5px; border-radius:5px;}
.brd-6{-webkit-border-radius:6px;-moz-border-radius:6px; border-radius:6px;}
.brd-8{-webkit-border-radius:8px;-moz-border-radius:8px; border-radius:8px;}

.nocvr{-webkit-border-radius:0 !important;-moz-border-radius:0 !important; border-radius:0 !important;}

.cvr-tl-2{-webkit-border-top-left-radius:2px;-moz-border-radius-topleft:2px;border-top-left-radius:2px;}
.cvr-tr-2{-webkit-border-top-right-radius:2px; -moz-border-radius-topright:2px; border-top-right-radius:2px;}
.cvr-br-2{-webkit-border-bottom-right-radius:2px;-moz-border-radius-bottomright:2px;border-bottom-right-radius:2px;}
.cvr-bl-2{-webkit-border-bottom-left-radius:2px;-moz-border-radius-bottomleft:2px;border-bottom-left-radius:2px;}

.cvr-tl-4{-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;}
.cvr-tr-4{-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;}
.cvr-br-4{-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.cvr-bl-4{-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}

.cvr-tl-8{-webkit-border-top-left-radius:8px;-moz-border-radius-topleft:8px;border-top-left-radius:8px;}
.cvr-tr-8{-webkit-border-top-right-radius:8px; -moz-border-radius-topright:8px; border-top-right-radius:8px;}
.cvr-br-8{-webkit-border-bottom-right-radius:8px;-moz-border-radius-bottomright:8px;border-bottom-right-radius:8px;}
.cvr-bl-8{-webkit-border-bottom-left-radius:8px;-moz-border-radius-bottomleft:8px;border-bottom-left-radius:8px;}

/* Misc */
.lowercase{text-transform:lowercase;}
.uppercase{text-transform:uppercase;}
.capitalcase{text-transform:capitalize;}
.normalcase{text-transform:none;}
.txt-center{text-align:center;}
.txt-left{text-align:left;}
.txt-right{text-align:right;}

.semi-bold{font-weight:600 !important;}
.lighter{font-weight:300 !important;}
.regular{font-weight:normal!important;}

/* Font Families */
.dfont{font-family: 'Raleway', sans-serif !important;}
.opensans{font-family:"Open Sans",Arial,sans-serif;}

/* Fonts Styles */
.red-txt{color:#ba0413 !important;}
.grey-txt{color:#58595b !important;}
.green-txt{color:#22a51c !important;}
.black-txt{color:#121212 !important;}
.white-txt{color:#fff !important;}
.blue-txt{color:#0084ff !important;}
.brown-txt{color:#a1533a !important;}
.darkbrown-txt{color:#45230e !important;}
.orange-txt{color:#f14714 !important;}
.lime-txt{color:#99e503 !important;}
.yellow-txt{color:#f7b519 !important;}

/* Fonts Sizes*/
.f5{font-size:5pt !important;}.f8{font-size:8px !important;}.f9{font-size:9px !important;}.f10{font-size:10px !important;}.f11{font-size:11px !important;}.f12{font-size:12px !important;}.f13{font-size:13px !important;}.f14{font-size:14px !important;}.f15{font-size:15px !important;}.f16{font-size:16px !important;}.f18{font-size:18px !important;}.f20{font-size:20px !important;}.f22{font-size:22px !important;}.f24{font-size:24px !important;}.f26{font-size:26px !important;}.f28{font-size:28px !important;}

/* line height*/
.lh-14{line-height:1.4em !important;}.lh-16{line-height:1.6em !important;}.lh-18{line-height:1.8em !important;}

/* Magin and Padding sets */
.no-mag{margin:0 !important;}.mauto{margin:0 auto !important;}.mag-2{margin:2px !important;}.mag-5{margin:5px !important;}.mag-8{margin:8px !important;}.mag-10{margin:10px!important;}
.no-pad{padding:0 !important;}.pad-2{padding:2px !important;}.pad-3{padding:3px !important;}.pad-5{padding:5px !important;}.pad-8{padding:8px !important;}
.pad-10{padding:10px !important;}

/* Table Padding*/
table th, table.pad-tbl td{padding:5px;}

/* Random Widths */
.w20{width:20px !important;}
.w40{width:40px !important;}
.w60{width:60px !important;}
.w80{width:80px !important;}
.w95{width:95px !important;}
.w100{width:100px !important;}
.w105{width:105px !important;}
.w120{width:120px !important;}
.w140{width:140px !important;}
.w160{width:160px !important;}
.w180{width:180px !important;}
.w210{width:210px !important;}
.w250{width:250px !important;}
.w270{width:270px !important;}
.w280{width:280px !important;}
.w380{width:380px !important;}
.w400{width:400px !important;}
.w420{width:420px !important;}
.w480{width:480px !important;}
.w500{width:500px !important;}
.w620{width:620px !important;}
.w650{width:650px !important;}
.w670{width:670px !important;}
.w-ful{width:100% !important;}

.h215{height: 215px;}

.navbar-brand{
    margin-top: -31px;
}
.navbar-default {
    background-color:rgba(248, 248, 248, 0.88);
    border-color: rgba(248, 248, 248, 0.88);
}
.btn{
    margin:0px !important;}
.btn-primary{
    background-color:#105BA6;
    border-color:  #052A4D;
    font-size: 20px;}
.top-nav{
    background-color: #EDEDED;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    margin-bottom:10px;}
.top-nav > li > a{
    padding:5px 15px 10px;}
.mt-7{
    margin-top: 7px;}
.mr-10{
    margin-right: 10px;}
.ml-10{
    margin-left: 10px;}
.fn{
    float: none;}
.btn-info{
    background-color: #50c795;
    border-color: #50c795;
    padding: 6px 23px;
    margin: 0px;
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info{
    background-color:#1B8256;
    border-color:#1B8256;}
#banner{
    
    background-size:cover;
    padding: 135px 0px 69px;}
.h340{
    height:340px}
.grey{
    background-color:#f6f6f6;}
#most-popular{
    padding: 10px 0px 0px;
    background-size:cover !important;
    background:url(../img/back.png);
    background-attachment: fixed;

}
#service{

    padding: 40px 0px 60px;
    background-attachment: fixed !important;
    background-size: cover !important;}
.hm-search .input-group-addon{
    background:#C01D5E;
    color:#fff;
    font-size: 30px;
    border: 1px solid #C01D5E;
    position: relative;}
.paitent-toggle {
    float: left;
    color: rgba(192, 29, 94, 0.68);
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    clear: both;
}
.hm-search .btn {
    position: relative;
    left: -4px;
}
.paitent-care{
    position: relative;
    right: -58px;
}
ul.dropdown-menu.paitent-dropdown-menu {
    width: 100%;
}
a.dropdown-toggle.paitent-toggle {
    text-decoration: none;
}
ul.dropdown-menu.paitent-dropdown-menu a{
    color: rgba(192, 29, 94, 0.68);}
li.pure-menu-heading.all-specialties-heading {
    color: #C01D5E;
    font-size: 18px;
    padding-left: 12px;
    padding-bottom: 5px;
    text-transform: none;
    margin-top: 8px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.38);
}
.hm-search .form-control.chosen-single{
    border: 2px solid #C01D5E;
    font-size: 17px;
    padding:9px 15px;
    height: auto;}
.surch-right {
    margin-right: -7px;
}
.mg-bt-none{
    margin-bottom:0px;}
.surch-main {
    background: #fff;
    height: 59px;
    border: 1px solid rgba(192, 29, 94, 0.56);
    padding-top: 5px;
    border-radius: 3px;
    width: 89%;
    display: table;
    margin: 0 auto !important;
    float: none !important;
    padding-left: 8px;
    padding-right: 4px !important;
}
a.dropdown-toggle.paitent-toggle:hover {
    color: #C01D5E;
}
/* Start Signup Popup */

.form-signin
{
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{

    margin: 0 auto 10px;
    display: block;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.paragrph.f20.regular {
    font-size: 20px !important;
    color: #3b3b3d;
	/*font-family: 'Raleway', sans-serif !important;*/
	font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
h1.most-heading {
    color: #fff;
    padding-top: 25px;
    border-bottom: 2px solid rgba(200, 200, 200, 0.25);
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 8px;
    text-align: center;
}
#health-tips {
    padding: 25px 0px 45px;
}
.col-health-main {
    margin-bottom: 15px;
}
.carton {
    position: relative;
    top: -59px;
    left: 14px;
}

img.carton-right {
    position: relative;
    top: -54px;
    right: 71px;
    /*z-index: 12;*/
}

.box{

    height: 143px;
    border: 1px solid;
    border-radius: 7px;
    position: relative;
    z-index: 12;

}
.z-box {
    z-index: 3;
    position: relative;
}
.h-heading{
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    position: relative;
    bottom: -74px;
    height: 48px;
    padding-top: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
h1.h-heading:hover {
    background: rgba(0, 0, 2, 0.68);
}


.background{


}
.Virtual-heading {
    border-bottom: 2px solid rgba(173, 9, 97, 0.17);
    width: 96%;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 8px;
    padding-top: 25px;
    color: #fff;
    font-weight: normal;
}
.Virtual-box{
    background: url(../img/use.png) center no-repeat;
    height: 128px;
    text-align: center;
}
.img-Virtual{
    position: relative;
    top: 23px;
}
.Virtual-box h3{
    color: #fff;
    font-size: 18px;
    text-align: center;

}
.Virtual-box p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}
.Virtual-text{
    color:#fff;
}
.Health-box{
    
        height: 159px;
    background-size: cover !important;
    border: 1px solid;
    border-radius: 6px;
    overflow:hidden;
    position: relative;
}
.Health-box-text{
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.59);
    height: 112px;
    padding: 8px;
    position: relative;
    top: 57%;
}
.Health-box-text h3 {
    font-size: 17px;
    text-align: left;
    margin: 0;
    font-weight: normal;
    line-height: 20px;
    margin-top: 10px;
}
.Health-box-text p {
    font-size: 12px;
    text-align: left;
}
.Health-heading {
    border-bottom: 2px solid #ECECEC;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 8px;
    padding-top: 25px;
}
.Health-icon {
	position: absolute;
	right: -1px;
	top: 15%;
    display: none;
	z-index: 1;
}
.carton-bottem {
    position: relative;
    left: 20px;
    top: -70px;
}


.footer{
    /*background: url(img/footer.png) ;*/
    background: #F3F3F3;
    padding:50px 0px;
    background-size:cover !important;
    background:url(../img/footer.png) no-repeat;
    background-attachment: fixed;
}


.Doctor-heading {
    border-bottom: 2px solid rgba(200, 200, 200, 0.25);
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 8px;
    text-align: center;
    color: #fff;
}


p.Doctor-pra {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
   /*font-family: 'Raleway', sans-serif !important;*/
	font-family: 'Open Sans', sans-serif;
    width: 74%;
    display: table;
    margin: 0 auto;
}


.Know-but {
    font-size: 18px;
    color: #222222;
    background: #fff;
    display: table;
    margin: 0 auto;
    padding: 10px 27px;
    border-radius: 5px;
    margin-top: 28px;
}
.footer a{
    text-decoration:none;}

.footer-nav  ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-nav  ul li a:hover{color: #0B69AD;}
.Virtual-heading {
    border-bottom: 2px solid rgba(173, 9, 97, 0.17);
    width: 96%;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 8px;
    padding-top: 25px;
    color: #fff;
    font-weight: normal;
}
.Virtual-box{
    background: url(../img/use.png) center no-repeat;
    height: 128px;
    text-align: center;
}
.img-Virtual{
    position: relative;
    top: 23px;
}
.Virtual-box h3{
    color: #fff;
    font-size: 18px;
    text-align: center;

}
.Virtual-box p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}
.Virtual-text{
    color:#fff;
}
.Health-box{
    background: url(../img/halth.png) top center no-repeat;
    height: 159px;
    background-size: cover;
    border: 1px solid;
    border-radius: 6px;
    overflow:hidden;
    position: relative;
}
.Health-box-text{
	color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.59);
    height: 94px;
    padding: 8px;
    position: relative;
    top: 67%;
}
.Health-box-text h3 {
   font-size: 15px;
    text-align: left;
    margin: 0;
    font-weight: normal;
    line-height: 20px;
    margin-top: 0px;
}
.Health-box-text p {
    font-size: 12px;
    text-align: left;
}
.Health-heading {
    padding-top: 25px;
    border-bottom: 2px solid rgba(200, 200, 200, 0.25);
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 8px;
    text-align: center;
}
.carton-bottem {
    position: relative;
    left: 20px;
    top: -70px;
}



.Know-but {
    font-size: 18px;
    color: #fff;
    background:#222222;
    display: table;
    margin: 0 auto;
    padding: 10px 27px;
    border-radius: 5px;
    margin-top: 28px;
}


.footer-bottem {
    background: #222222;
}


.footer-bottem {
    color: #fff;
    font-size: 15px;
    /*font-family: 'Raleway', sans-serif !important;*/
	font-family: 'Open Sans', sans-serif;
    padding: 18px 0px;
}
.footer-bottem  p {
    margin:0px;}
.footer-bottem  p span {
    color: #a6a6a6;
    font-size: 12px;
}
.footer-bottem .fa{
    color: #fff;}
img.footer-bottem {
    width: 3%;
    height: 10px;
}

.footer-nav{
    float: right;
}
.footer-nav ul {
    padding: 0px;
    margin: 0px;
}
.footer-nav ul  li {
    list-style: none;
    float: left;
    color: #fff;
    font-size: 16px;
    padding: 0px 17px;
}

.Virtual-box:hover {
    background: url(../img/use-hover.png) center no-repeat;
    height: 128px;
    text-align: center;
    text-decoration: none;
}

h2.simple.pra {
    color: #fff;
    font-weight: normal;
    margin: 0px;
    font-size: 22px;
}
h1.Finding-heading {
    font-size: 20px;
    /*font-family: Myriad Pro;*/
}
.text-right-md {
    text-align: right;
}
img.img-responsive {
    border: 0px solid;

}
.Finding {
    padding: 40px 0px;
}
h1.Finding-heading {
    font-size: 20px;
    /*font-family: Myriad Pro;*/
}

.Know-but:hover {
    background: #034063;
    color: #fff;
}
.footer a {
    text-decoration: none;
}
button.btn.btn-primary:hover {
    background:#093C6F;
    border: 1px solid #093C6F;
}
.Health-box-text:hover {
    background: rgba(0, 0, 0, 0.73);
}



/* Dashboard Timeline */

img
{
    vertical-align: middle;
}
.img-responsive
{
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded
{
    border-radius: 3px;
}
.img-thumbnail
{
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.img-circle
{
    border-radius: 50%;
}
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    left:16%;
    top: 20px;
    bottom: 20px;
    margin-left: -4px;
}

.timeline-centered .timeline-entry {
    position: relative;
    width: 84%;
    float: right;
    margin-bottom: 20px;
    clear: both;
    border-bottom: 3px solid #F5F5F6;
    padding-bottom: 10px;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
    float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -22px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -90px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #F5F5F6;
    width: 108px;
    text-align: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
    font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #337AB7;
    color: #737881;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 18px;
    float: left;
    position: relative;
    top: 9px;
    border: 0px !important;
    box-shadow: none !important;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #D01C5D;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background:rgba(245, 245, 246, 0);
    padding:0;
    margin-left: 70px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
    display:none;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #737881;
    font-family: "Noto Sans",sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}


.dr-detail.clearfix {
    background: #F5F5F6;
    padding: 9px;
    margin-left: -49px;
    padding-left: 39px;
    margin-top: 7px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dr-detail ul{
    padding:0px;
    margin:0px;}
.dr-detail ul li{
    list-style:none;
    font-size:13px;
    line-height: 22px;}

/* End Timeline */

/* Login Dropdown */

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

/* End Login Dropdown */

/* Header section */

.navbar-form .input-group-addon {
    font-size: 21px !important;
    color: #fff;
    background: #D01C5D;
    border: 0px;
}
.navbar-form .input-group{
    z-index: 99;}
.navbar-form .input-group:first-child{
    margin-right: 0px;}
.navbar-form .input-group:last-child{
    z-index:999;
    position:relative}
.btn-search {
    padding: 7px 7px;
    font-size: 21px;
    background: #337AB7;
    color: #fff;
    position: relative;
    left:-6px;
    z-index: 9999;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 0px;
}
.btn-search:hover {
	background: #093C6F;
	color: #fff !important;
}
.top-logo img{
    padding-top: 31px;}
.top-header .fa {
    font-size: 23px;
    color: #337AB7;
}
.search-md-form-cs{
	}
.btn-user {
    background: #337AB7;
    color: #fff !important;
    font-size: 14px;
    padding:8px 6px !important;
    margin-top: 7px !important;
    border: 0px !important;
}
.btn-user .fa{
    color: #fff !important;
    font-size: 14px;
    padding: 0px 5px;}
i.fa.active-setting{
    padding: 11px 9px;
    margin: -8px;
    margin-left: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background:#D01C5D;
}
.btn-user:hover{
    background:#337AB7 !important;}
.btn-user:active{
    background:#337AB7 !important;}
.btn-user:focus{
    background:#337AB7 !important;}
.active-setting:hover{
    background:#AE195E  !important;}
.active-setting:active{
    background:#AE195E !important;}
.active-setting:focus{
    background:#AE195E !important;}

.top-header li a .count {
    background: #D01C5D;
    font: normal 8px "open_sansregular",Calibri,sans-serif,Arial;
    text-align: center;
    padding: 2px 0 0;
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 25%;
    right: 9px;
    z-index: 10;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    color: #fff;
}
.alert-dropdown .dropdown-menu > li{
    border-bottom: 1px solid #F7F7F7;
}
.alert-dropdown .dropdown-menu > li > a {
    padding: 3px 10px;
    font-size: 13px;
}
.alert-dropdown .dropdown-menu > li > a .fa{
    font-size: 15px;
    padding-right: 1px;}
.sign-up-btn-top button.btn.btn-info.sing{padding: 12px 20px;}	

.after-login-top-menu li a {
    padding: 12px 12px 5px !important;
}
.after-login .top-logo img {
    padding-top: 31px;
}
.after-login .search-md-form-cs {
    margin-top: 25px;
}

/* End Header section */
/* Sidebar */
.sidebar .navbar-toggle{
	width: 100%;
    margin: 0;
    background: rgba(16, 96, 175, 0.98);
    margin-bottom: 10px;
}

.sidebar .navbar-toggle span.icon-bar {
    background: #fff;
}
.no-results{
    font-size: 27px;
    color: #808080;
    padding: 4% 0px;
    margin: 0px;
    border: 1px solid rgba(142, 142, 142, 0.36);
    text-align: center;
    border-radius: 5px;
    margin: 0px;
}
#showfilter{}
.navbar-toggle .show-filter:after{
	content:'Show Search Filters';
}
.navbar-toggle[aria-expanded="true"] .show-filter:after{
	content:'Hide Search Filters';
}
a.show-filter {
   float: right;
    margin-bottom: -6px;
    color: #fff;
    margin-top: -17px;
}
.navbar-toggle .show-profile:after{
	content:'Show Dashboard';
}
.navbar-toggle[aria-expanded="true"] .show-profile:after{
	content:'Hide Dashboard';
}
a.show-profile {
   float: right;
    margin-bottom: -6px;
    color: #fff;
    margin-top: -17px;
}
.list-group.sidebar{}
.list-group.sidebar .fa {
    background: #D01C5D;
    color: #FFF;
    padding: 5px 5px;
    border-radius: 21px;
    font-size: 13px;
}
.list-group.sidebar .active .fa{
    background: #fff;
    color: #337AB7;}
.sidebar a.list-group-item:hover, .sidebar a.list-group-item:focus{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;}
.sidebar a.list-group-item:hover .fa, .sidebar a.list-group-item:focus .fa{
    background: #fff;
    color: #337AB7;}
.sidebar .progress{
    height: 30px;
    margin: 0px;
    margin-top: 6px;}
.sidebar .progress-bar{
    line-height: 30px;
    background-color: #D01C5D;}
.list-group.sidebar ul{
    margin:0px;
    padding:0px;}
.list-group.sidebar ul li {
    list-style:none;
}
.list-group.sidebar ul li a{
    border-radius:0px;}
.list-group.sidebar ul ul {
    background: #337AB7;
}
.list-group.sidebar ul ul li{}
.list-group.sidebar ul ul li a{
    background:#D01C5D;
    color: #fff;
    border: 0px;
    padding: 6px 15px;
    font-size: 12px;
    border-bottom: 1px solid #820D37;}
.list-group.sidebar ul ul li a:hover{
    background-color: #820D37;
    border-bottom: 1px solid #820D37;}
.list-group.sidebar ul ul li .active .fa{
    color: #D01C5D;}
.list-group.sidebar ul ul li a:hover .fa{
    color: #D01C5D;}
.list-group.sidebar .dropdown .fa{
    float:right;
    background:none;
    color:#337AB7;}
.list-group.sidebar .list-group-item.active	 .dropdown .fa{
    color:#fff;}
.sidebar a.list-group-item:hover .dropdown .fa, .sidebar a.list-group-item:focus  .dropdown .fa	{
    float:right;
    background:none !important;
    color:#fff !important;}

/* End Sidebar */

/* Serach list Page */
.serach-list .list-group-item.active{
    padding: 10px 15px;}
.serach-list .list-group-item{
    padding:0px 15px;}
.gender .list-group-item{padding:4px 15px;}
.serach-list .list-group-item .fa{
    background:none;
    color:#D01C5D;
    font-size:18px;}
.serach-list a.list-group-item:hover, .serach-list a.list-group-item:focus{
    background:none;
    color: #555;
    border: 1px solid #ddd;}
.serach-list .list-group-item.active .fa{
    padding: 3px 6px 1px;}
.gender	ul.list-group-item li{
    list-style:none;
    float:left;
    padding: 10px;}
.doctor-list{
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 9px;
    margin-bottom: 20px;}
.doctor-rating-name-section {
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 3px;
    margin-bottom: 3px;
}
.doctor-rating-name-section h4{
    margin: 0px;}
.doctor-rating-name-section .glyphicon{
    color: #D01C5D;}
ul.medial-info{
    margin:0px;
    padding:0px;}
ul.medial-info li{
    list-style: none;
    line-height: 24px;
    font-size: 13px;}
ul.medial-info li i{
    padding-right:5px;
    width: 20px;
    text-align: center;}
.experince{
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    margin-top: 9px;}
.doctor-mini-rating-col{
}
.doctor-mini-rating-col .user {
    font-size: 28px;
    color: #D01C5D;
}
.doctor-mini-rating-col .rating {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 3px 0px;
    font-weight: bold;
}
.doctor-mini-rating-col .name {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;

}
.dark-pink {
    background: #D01C5D;
    color: #fff;
    border: 0px;
    padding: 6px 16px;
    font-size: 13px;
}

.dark-pink:hover, .dark-pink:focus, .dark-pink.focus, .dark-pink:active, .dark-pink.active, .open > .dropdown-toggle.dark-pink{
    background: #337AB7 !important;
    color: #fff;}

.doctor-mini-rating-col:last-child{
    padding-right:0px !important;}
.doctor-mini-btn-col{
    float: right;
    margin-top: 9px;}
.doctor-mini-rating-col .company {
    /*background: #f5f5f5; */
    border-radius: 5px;
    padding: 2px 2px;
    font-weight: bold;
}

.doctor-mini-rating-col .company img {
	_width: 100%;
	text-align: center;
	height: 56px;
}
.view-more {
    background: #EDEDED !important;
    color: #404040 !important;
    font-weight: normal !important;
    text-align: left;
    border: 0px solid #ddd !important;
}

.view-more button{
    background: #EDEDED !important;
    color: #404040 !important;
    border: 0px solid #ddd !important;
    width: 100%;
    text-align: left;
    padding: 6px 0px;
}
/* Icon when the collapsible content is shown */
.view-more button:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
}
.view-more button:before {
    content:"View Less";
    display:block;
    float: left;
}
.view-more button.collapsed:before {
    content:"View More";
    display:block;
    float: left;
}
/* Icon when the collapsible content is hidden */
.view-more button.collapsed:after {
    content: "\e080";
}
.serach-list .list-group-item.active button {
    background: none;
    border: 0;
    float: right;
    margin-right: -15px;
    margin-top: -3px;
}
/* End Serach list Page */

/* From Buttons */

.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #D01C5D;
    border-color: #D01C5D; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }

/* End Form Buttons */

/* End Login From */
.bbm-wrapper * {
    box-sizing: border-box;
}
.bbm-wrapper .bbm-modal__topbar {
    margin-bottom: 0;
    padding: 13px 18px;
    font-size: 13px;
    position: relative;
    min-height: 45px;
}
.bbm-wrapper .bbm-modal__topbar h3 {
    width: 80%;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-family: ProximaNovaSbold,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.auth-dialog .bbm-modal__topbar .close-link {
    float: right;
    color: #C01D5E;
    font-size: 31px;
    position: absolute;
    top: -14px;
    right: -5px;
}
.bbm-modal__bottombar a{
    text-decoration: none;
}
.forgot-password-container  a{
    text-decoration: none;
}
.bbm-wrapper .bbm-modal__topbar .close-link {
    display: inline-block;
    position: absolute;
    right: 20px;
    margin-top: 2px;
}
.bbm-modal__section {
    padding: 0 30px;
    margin-top: 0;
    font-size: 16px;
    line-height: 26px;
    color: #575656;
}
.bbm-wrapper .bbm-modal__section {
    position: relative;
    padding: 0;
    line-height: 20px;
}
.centered-mobile .content {
    padding-bottom: 12px;
    padding-top: 12px;
}
.auth-dialog .method-button {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
    padding: 12px 0;
}
.auth-dialog .method-button-facebook {
    margin-bottom: 10px;
    background-color: #0F56A4;
    color: white;
    text-decoration: none;
}
.auth-dialog .method-button-googleplus {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    color: #666;
}
.auth-dialog .or-divider {
    background-image: url("https://asset1.betterdoctor.com/assets/consumer/signup/or-divider-line-bf8d23e1e61d83ed0a5fe767f29561cb.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-bottom: 6px;
    position: relative;
}
.auth-dialog .method-button .icon {
    font-size: 20px;
    margin-right: 10px;
}
.auth-dialog .or-divider span {
    color: #A5A5A5;
    display: inline-block;
    background: #E1EBED;
    padding: 0 10px;
    position: relative;
    top: 1px;
}
span.signup-color {
    background: #E1EBED !important;
}
.auth-dialog .method-button {
    text-align: center;
}
.pure-form fieldset {
    margin: 0;
    padding: .35em 0 .75em;
    border: 0;
}
.pure-form fieldset {
    padding: 0;
    padding-bottom: 10px;
}
.pure-form .pure-group input:first-child {
    top: 1px;
    border-radius: 4px 4px 0 0;
}
.error-message {
    padding-left: 10px;
    color: #a61700;
    font-size: 12px;
    position: relative;
    top: -2px;
    display: none;
}
.auth-dialog .pure-form .pure-group input[type='text'], .auth-dialog .pure-form .pure-group input[type='password'] {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.show-password-container {
    position: relative;
}
.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress {
    background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: -o-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#f5f5f5));
    background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',endColorstr='#fff5f5f5',GradientType=0);
}
.progress {
    height: 5px;
    position: relative;
    top: -2px;
    margin-bottom: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar {
    background-image: -webkit-linear-gradient(top,#337ab7 0,#286090 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#286090 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#286090));
    background-image: linear-gradient(to bottom,#337ab7 0,#286090 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7',endColorstr='#ff286090',GradientType=0);
}
.auth-dialog .pure-form .pure-button {
    width: 100%;
    padding: 15px 0;
}
.auth-dialog.login-dialog .forgot-password-container {
    text-align: center;
    padding-bottom: 15px;
}
.bbm-modal__bottombar {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 18px;
    text-align: right;
    margin-top: 30px;
}
.auth-dialog .bbm-modal__bottombar {
    border: 0;
    margin: 0;
    text-align: center;
    background-color: #C1DBE1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    font-weight: bold;
}

.account-wall{
    padding: 1px 0px 0px 0px;
    background-color: #E1EBED;
    border-radius: 10px;
    border: 1px solid rgba(194, 75, 158, 0.81);}
.bbm-modal__topbar {
    padding: 0px 36px;
}

.auth-dialog .method-button-email {
    background-color: #C01D5E;
    color: white;
    text-decoration: none;
}

.bbm-modal__topbar h3 {
    color: #0F56A4;
    font-size: 18px;
    margin-top: 15px;

}
p.intro.pure-hidden-desktop {
    color: #8C8C8C;
    padding-bottom: 0px;
    line-height: 18px;
}
p.pure-hidden-mobile {
    color: #8C8C8C;
    padding-bottom: 0px;
    padding-top: 0px;
}
form.pure-form {
    padding-bottom: 23px !important;
}
input.field.email-field.pure-input-1 {
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
}
.pure-button.callout-button.submit {
    background-color:#C01D5E;
    padding:14px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}
.intro  {
    margin-top: 32px;
}
.secound-dialog {
    width: 473px;
    margin: 30px auto;
}
a.method.method-button.method-button-google {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-decoration: none;
}
.sing-main {
    padding: 1px 0px 0px 0px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid rgba(194, 75, 158, 0.81);
    background: #E1EBED url("../img/shutterstock_90664207.jpg") bottom -27px right;
    background-repeat: no-repeat;
    /* background-size: contain; */
    width: 805px;
}
.sing-withd
{width: 53%;}
p.disclaimer {
    color: #575656;
    margin-top: 21px;
}
p.already-account {
    color: #575656;
    margin-bottom: 137px;
    font-weight: bold;
}
a.external {
    color: #bb3794;
    text-decoration: none;
}
a.login {
    color: #bb3794;
    text-decoration: none;
}
.sing-up-right {
    float: right;
    width: 46%;
    margin-top: 22px;
}
.sing-up-right h1 {
    color: #575656;
    font-size: 19px;
    margin-top: 0px;
    font-weight: normal;
}
.sing-up-right p {
    color: #8C8C8C;
}
.singup-dialog {
    width: 806px;
    margin: 30px auto;
}
.pure-g {
    padding-left: 8px;
}
input.password-field.field.pure-input-1 {
    box-shadow: none;
    padding: 10px;
    border: 1px solid #ccc;

    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}
.first-dialog{
    width: 455px;
    margin: 30px auto;
}
/* End Login From */

/* Doctor Profile */
.online{
    color: #FFFFFF;
    font-size: 11px;
    background: #1E8C18;
    padding: 3px 8px;
    border-radius: 3px;
    margin-left: 10px;}
.offline{
    color: #FFFFFF;
    font-size: 11px;
    background: #A9A9A9;
    padding: 3px 8px;
    border-radius: 3px;
    margin-left: 10px;}
.doc-profile-detail{
    position: absolute;
    right: 0px;
    bottom: 11px;}
.doctor-list{
    position:relative;}
.profile-detail .sidebar {
    background: #f8f8f8;
    padding: 0px 12px 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
	margin-bottom: 20px;
}

.profile-detail .doc-profile-detail-side {
    background: #FFF;
    clear: both;
    padding:9px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.profile-detail .doc-profile-detail-side:after {
    content: '';
    display: block;
    clear: both;
}
.profile-detail .doctor-rating-name-section h4 {
    font-size: 13px;
    color: #414141;
    margin-bottom: 4px;
    margin-top: 8px;
}
.profile-detail .doctor-rating-name-section  li{
    list-style: none;
}
.profile-detail .Obstetrics {
    padding-left: 12px !important;
}
.profile-detail h1.sidebar-heading {
    font-size: 15px;
    color: #585858;
    text-align: center;
    margin-bottom: 11px;
}
.profile-detail .tab-pane  h3 {
    color: #414141;
    font-size: 18px;
}
.profile-detail .tab-pane p {
    color: #414141;
    font-size: 14px;
    /*font-family: Myriad Pro;*/
}
.profile-detail .Practicing-left h2 {
    font-size: 18px;
    color: #414141;
}
.profile-detail i.fa.fa-map-marker{
    font-size: 30px;
    color: #666666;
    float: left;
    margin-right: 14px;
    min-height: 100px;
}
.profile-detail .Practicing-left {
    float: left;
    width: 48%;
}
.profile-detail .Practicing-left p {
    font-size: 14px;
    color: #414141;
    margin-top: 15px;
}
.profile-detail p.Address-about {
    margin-left: 30px;
}
.profile-detail .Practicing-right h6 {
    font-size: 14px;
    color: #414141;
    padding-top: 9px;
}
.profile-detail .Practicing-right p {
    font-size: 12px;
    margin: -10px;
}
.profile-detail .Practicing-right {
    margin-top: 39px;
}
input.form-control.Reviews-form-control {
    background: #F8F8F8;
    margin-top: 14px !important;
    width: 97%;
    display: table;
    margin: 0 auto;
    height: 40px;
}
textarea.form-control.Reviews-form-textarea {
    width: 97%;
    display: table;
    margin: 0 auto;
    background: #F8F8F8;
    margin-top: 7px !important;
    height: 195px;
}
button.btn.btn-default.dark-pink.Reviews-form-butten {
    margin-left: 12px !important;
    margin-top: 12px !important;
}
.Some-background {
    background: #F8F8F8;
    padding: 10px;
    margin-top: 7px;
    height: auto;
    margin-bottom: 18px;

}
h1.Some-3 {
    color: #414141;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 2px;
}
span.glyphicon.glyphicon-star.some-star {
    color: #D01C5D;
    font-size: 22px;
    text-align: center;
}
span.glyphicon.glyphicon-star-empty.some-star {
    color: #D01C5D;
    font-size: 22px;
    text-align: center;
}
.some-left {
    border-right: 3px solid #ccc;
}
.SomeQuality-boder {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
.some-right .glyphicon {
    color: #D01C5D;
}
.SomeQuality-boder p {
    float: left;
    padding-left: 19px;
    color: #2B2B2B !important;
}
.Reviews-box {
    margin-top: 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.45);
    padding-bottom: 21px;
}
.Patient-Reviews-heading{
    color: #414141;
    font-size: 20px;
    list-style: none;
    padding-left: 18px;
    font-weight: bold;
    margin-bottom: 17px;
}
i.Patient-Reviews-icon.fa.fa-outdent {
    padding-right: 10px;
}
i.Patient-Reviews-icon.fa.fa-list-alt {
    padding-right: 10px;
    font-size: 30px;
    position: relative;
    top: 5px;
}
.Write-Review-heading{
    color: #414141;
    font-size: 20px;
    list-style: none;
    padding-left: 18px;
    font-weight: bold;
    margin-bottom: 17px;

}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.Experience-pra{
    color: #414141;
    /*font-family: Myriad Pro;*/
    font-size: 14px;
    margin-bottom: 20px;
}
.Gujarati {
    /*font-family: Myriad Pro;*/
    color: rgba(65, 65, 65, 0.85) !important;
    font-size: 17px;
}
/* End Doctor Profile */

/* Health Feed */

.health-dt-time {
    float: right;
    font-size: 13px;
    color: #D01C5D;
}
.health-detail-head h4{
    margin:0px;}
.health-detail-head{
    margin-bottom:20px;}
.health-detail-txt {
    font-size: 14px;
    font-weight: bold;
    margin-bottom:10px
}
.health-detail-image img{
	border-radius: 10%;
	width: 100%;}

.txt-green{
    color:green}
.health-detail-txt.txt-green{
	font-weight:normal}
.health-detail {
    padding-bottom: 10px;
    border-bottom: 2px solid #F2F2F2;
    margin-bottom: 10px;
}
.health-social a{
    background: #D01C5D;
    color: #fff;
    padding: 3px 7px 4px;
    border-radius: 19px;
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    margin-left: 4px;}
.health-social a:hover{
    background: #337AB7;}

.health-detail-innerpage h2{
	font-size:18px;
	margin:0px;}
.health-detail-innerpage-top{}
	
/* End Health Feed */


/* Article Media */
i.fa.fa-file-o {
    font-size: 38px;
    display: table;
    margin: 0 auto;
    color: #d0d0d0;
    background: #f5f5f5;
    padding: 23px 26px;
    border-radius: 82px;
}
.article-media-info{
    height:32px !important;
    clear:both;}
.article-media-info li{
    float:left;
    margin-right:10px;}

/* End Article Media */

/* Home Extra Dropdown */
.chosen-select {
    width: 100%;
}
.chosen-select-deselect {
    width: 100%;
}
.chosen-container {
    font-size: 14px;
    position: relative;
    vertical-align: middle;
}
.chosen-container{
    width: 100%!important}
.chosen-container .chosen-drop {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: -9000px;
    z-index: 1060;
}
.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
    right: 0;
}
.chosen-container .chosen-results {
    color: #555555;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
    display: none;
    line-height: 1.42857143;
    list-style: none;
    margin: 0;
    padding: 5px 6px;
}
.chosen-container .chosen-results li em {
    background: #C01D5E;
    font-style: normal;
    color: #fff;
}
.chosen-container .chosen-results li.group-result {
    display: list-item;
    cursor: default;
    color: #fff;
    background: rgba(192, 29, 94, 0.71);
    font-weight: bold;
}
.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}
.chosen-container .chosen-results li.active-result {
    cursor: pointer;
    display: list-item;
}
.chosen-container .chosen-results li.highlighted {
    background-color: rgba(192, 29, 94, 0.71);
    background-image: none;
    color: white;
}
.tab-pane .proflie-about {
    border-radius: 10px;
    border: 4px solid #ccc;
    width: 86%;
}
.chosen-container .chosen-results li.highlighted em {
    background: transparent;
}
.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #777777;
}
.chosen-container .chosen-results .no-results {
    background: #eeeeee;
    display: list-item;
}
.chosen-container .chosen-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    z-index: 1;
}
.chosen-container .chosen-results-scroll span {
    display: inline-block;
    height: 1.42857143;
    text-indent: -5000px;
    width: 9px;
}
.chosen-container .chosen-results-scroll-down {
    bottom: 0;
}
.chosen-container .chosen-results-scroll-down span {
    background: url("chosen-sprite.png") no-repeat -4px -3px;
}
.chosen-container .chosen-results-scroll-up span {
    background: url("chosen-sprite.png") no-repeat -22px -3px;
}
.chosen-container-single .chosen-single {
    background-color: #ffffff;
    border:2px solid #C01D5E;
    color: #555555;
    display: block;
    overflow: hidden;
    line-height: 34px;
    padding: 3px 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    text-align: left;
}
.chosen-container-single .chosen-single span {
}

.chosen-container-single .chosen-single abbr {
    background: url("chosen-sprite.png") right top no-repeat;
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 26px;
    top: 12px;
    width: 12px;
}
.chosen-container-single .chosen-single abbr:hover {
    background-position: right -11px;
}
.chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
    background-position: right 2px;
}
.chosen-container-single .chosen-single div {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
}
.chosen-container-single .chosen-single div b {

    display: block;
    height: 100%;
    width: 100%;
}
.chosen-container-single .chosen-default {
    color: #777777;
}
.chosen-container-single .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1000;
}
.chosen-container-single .chosen-search input[type="text"] {
    background: url("chosen-sprite.png") no-repeat 100% -20px, #ffffff;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin: 1px 0;
    padding: 4px 20px 4px 4px;
    width: 100%;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.chosen-container-single-nosearch .chosen-search input {
    position: absolute;
    left: -9000px;
}
.chosen-container-multi .chosen-choices {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}
.chosen-container-multi .chosen-choices .search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.chosen-container-multi .chosen-choices .search-field input[type="text"] {
    background: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #555555;
    height: 32px;
    margin: 0;
    padding: 4px;
    outline: 0;
}
.chosen-container-multi .chosen-choices .search-field .default {
    color: #999;
}
.chosen-container-multi .chosen-choices .search-choice {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 6px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    background: url("chosen-sprite.png") right top no-repeat;
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 4px;
    top: 5px;
    width: 12px;
    cursor: pointer;
}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover {
    background-position: right -11px;
}
.chosen-container-multi .chosen-choices .search-choice-focus {
    background: #d4d4d4;
}
.chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
    background-position: right -11px;
}
.chosen-container-multi .chosen-results {
    margin: 0 0 0 0;
    padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
    display: none;
}
.chosen-container-active .chosen-single {
    border: 1px solid #0F57A4;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    background-color: #ffffff;
    border: 2px solid #C01D5E;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
    background: transparent;
    border-left: none;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 7px;
}
.chosen-container-active .chosen-choices {
    border: 1px solid #66afe9;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
.chosen-container-active .chosen-choices .search-field input[type="text"] {
    color: #111 !important;
}
.chosen-container-active.chosen-with-drop .chosen-choices {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.chosen-disabled {
    cursor: default;
    opacity: 0.5 !important;
}
.chosen-disabled .chosen-single {
    cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}
.chosen-rtl {
    text-align: right;
}
.chosen-rtl .chosen-single {
    padding: 0 8px 0 0;
    overflow: visible;
}
.chosen-rtl .chosen-single span {
    margin-left: 26px;
    margin-right: 0;
    direction: rtl;
}
.chosen-rtl .chosen-single div {
    left: 7px;
    right: auto;
}
.chosen-rtl .chosen-single abbr {
    left: 26px;
    right: auto;
}
.chosen-rtl .chosen-choices .search-field input[type="text"] {
    direction: rtl;
}
.chosen-rtl .chosen-choices li {
    float: right;
}
.chosen-rtl .chosen-choices .search-choice {
    margin: 6px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices .search-choice .search-choice-close {
    background-position: right top;
    left: 4px;
    right: auto;
}
.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results .group-option {
    padding-left: 0;
    padding-right: 15px;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
    background: url("chosen-sprite.png") no-repeat -28px -20px, #ffffff;
    direction: rtl;
    padding: 4px 5px 4px 20px;
}
.chosen-container .chosen-results li.group-option{
    /*font-family: arial !important;*/
	font-family: 'Open Sans', sans-serif;}
.chosen-container .chosen-results li.group-option:before{
    font: normal normal normal 14px/1 FontAwesome !important;    color: #15A2C0;}

/* End Extra dropdown */

/* Start load-bar Page */

.load{
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/banner.png) no-repeat;
    background-size: cover !important;}
.load-bar{
    min-height: 700px;}
.load-bar:after{
    content:"";
    display:block;
    clear:both;}
.loading{
    position: absolute;
    top: 18%;
    left: 0px;
    right: 0px;
    margin: 0 auto;}
.loding-bar {
    padding: 20px 0px;
}
.loding-logo {
    margin-left: -88px;
}
.loding-more{
    font-size:26px;
    color:#b11e61;}
.loding-more a{color:#b11e61;}
.loding-more span{
    font-size:20px;
    color:#0f55a3;}
.loding-more span a{
    font-weight:bold;
    color:#0f55a3;}
/* End load-bar Page */

/* Start dashboard-settings-notifications */

h2.Notifications-email {
    color: rgba(51, 122, 183, 0.73);
    margin-bottom: 18px;
}
.checkbox.checkbox-Wellness {
    margin-bottom: 15px;
}
.boder {
    border-bottom: 2px solid rgba(51, 122, 183, 0.32);
}
.profile-butten {
    margin-top: 14px;
}
.form-group.has-feedback {
    width: 49%;
    float: left;
    margin-right: 4px;
}
.form-notification {
    width: 49%;
}
.form-city {
    float: left;
    width: 49%;
    margin-right: 3px;
    margin-bottom: 16px;
}
.form-horizontal .control-label {
    padding-top: -2px;
    margin-bottom: 6px;
    text-align: left;
    margin-left: -13px;
}
.form-Address {
    clear: both;
    margin-bottom: 12px;
}
i.glyphicon.fa.fa-envelope-o.form-control-feedback {
    margin-top: 9px;
    font-size: 16px;
}
i.glyphicon.fa.fa-phone.form-control-feedback {
    margin-top: 10px;
    font-size: 16px;
}
.profile-butten.notification {
    clear: both;
    border-top: 2px solid rgba(51, 122, 183, 0.32);
    padding-top: 10px;
    position: relative;
    margin-bottom: 20px;
}
.btn-group {
    margin-left: -12px;
}
label.btn.btn-default {
    padding: 6px 32px;
}


/* layout.css Style */
.upload-drop-zone {
   /* height: 200px;*/
    border-width: 2px;
    margin-bottom: 5px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}
/* End dashboard-settings-notifications */
/* Extra Edits */

.min-width-search .chosen-container-single .chosen-single{
	min-width: 200px;
}
.modal{    z-index: 9999;}

/* End Extra Edits */
.navbar-collapse.collapse.min-width-search .navbar-form {    width: 100%;}
.navbar-collapse.collapse.min-width-search {    width: 57%;}
 .navbar-collapse.collapse.min-width-search .btn-search{    left: -58px;    width: 7%;}
.pure-group button[type="submit"]{    
	background-color: #50c795;
	color: white;
	text-decoration: none;
	padding: 12px 0;
	border-radius: 2px;
	display: block;
	font-size: 18px;
	position: relative;
	border: 0px;
	box-shadow: none;
}

.header_3 .min-width-search{
	width: 75% !important;
	padding: 0px;}
.header_3 .min-width-search .navbar-form {
    width: 57% !important;
	margin-top: 25px;
	margin-bottom: 31px;
}
.header_3 .after-login-top-menu{
	padding: 6px 7px 5px !important;}
.header_3 .min-width-search .chosen-container-single .chosen-single{
	 min-width: 176px;}
.header_3 .min-width-search .btn-search{
	    left: -7px !important;}
header.after-login .navbar-collapse.collapse.min-width-search{width: 75%;}
header.after-login .navbar-collapse.collapse.min-width-search .navbar-form{width: 54%;padding: 0px;}
header.after-login .min-width-search .chosen-container-single .chosen-single{min-width: 172px;}
header.after-login .navbar-collapse.collapse.min-width-search .btn-search{left: -6px;}
header.after-login .navbar-right{ margin-top: 4px;}
header.after-login .chosen-container.chosen-with-drop .chosen-drop {
    left: -22%;
    right: 0;
    width: 122%;
	}
.navbar-nav > li > .dropdown-menu{
	z-index: 9999;
}
.sing-withd{float: left;}
.modal.fade .modal-dialog:after{
	content:'';
	display:block;
	clear:both;
}
.sing-main:after {
    content: '';
    display: block;
    clear: both;
}
.tab-content{
	margin-bottom: 10px;
}

.share-name {
    float: left;
    margin-top: 8px;
    margin-right: 3%;}
/* -------- Sidebar Jqurey Slide  -------- */

#distance-main ul, #experience-main ul, #ratings-main ul{
    border: 0px;
    clear: both;	
}
#distance-main li>div, #experience-main li>div, #ratings-main li>div{
    padding: 8px 15px;
}
.price.lead {
    float: right;
    font-size: 18px;
    margin: 0px;
}
.help-text {
    text-align: center;
	font-size: 13px;
    margin-top: 9px;
}
.slider.slider-horizontal{
	text-align: center;
	display: table;
	margin: 0 auto;
	width: 95% !important;
}
.slider-handle{
    background-color: #D01C5D !important;
    background-image: -webkit-linear-gradient(top,#D01C5D 0,#D01C5D 100%) !important;
    background-image: -o-linear-gradient(top,#149bdf 0,#0480be 100%) !important;
    background-image: linear-gradient(to bottom,#D01C5D 0,#D01C5D 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0 !important);
    filter: none !important;	
}
.slider-handle.round {
    border-radius: 3px !important;
}
.min-slider-handle:before{
	content: "\f104";
	font: normal normal normal 14px/1 FontAwesome;
	color:#fff;}
.max-slider-handle:before{
	content: "\f105";
	font: normal normal normal 14px/1 FontAwesome;
	color:#fff;}

#ratings-main .rating-big{
	margin-top: 5px;
	text-align: left;
	display: table;
	margin: 0 auto;
	padding-top: 0px;
	margin-bottom: -10px;}
/* -------- End Sidebar Jqurey Slide  -------- */	

.Sort-dropdown {
    float: left;
    text-align: right;
    width: 86%;
    margin-top: 4px;
	    padding-right: 8px;
}

.stButton .st-facebook-counter {
    width: 60px;
    height: auto !important;
}
 .stButton .st-email-counter {
    width: 60px;
    height: auto !important;
}
.stButton .st-twitter-counter{
    width: 60px;
    height: auto !important;
}


.text-left-sm{
    text-align:left;
}
.text-center-sm {
    text-align: center;
}

.rating-symbol {
    cursor: pointer !important;
    margin-right: 4px;
    line-height: 1;
}
.rating-big .rating-symbol {
    color: #d01c5d;
    font-size: 22px;
    text-align: center;
}

/*------------- Recent Post ------------*/

.resent-post-more {
	font-size: 12px;
	padding: 0;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: -7px;
}
.resent-post-text {
    padding-right: 0;
    font-size: 13px;
}
.resent-post {
    padding: 10px 0px;
}
.resent-post-img img {
    border: 1px solid #ccc;
}

.search-from-side-btn {
       background: #D01C5D;
    border: 0px;
    color: #fff;
    /* margin-top: 7px; */
    padding: 7px 18px;
    border-radius: 2px;
    float: right;
    position: absolute;
    right: 16px;
}
.search-from-side {
    padding: 10px 0px;
}
.search-from-side-icon .fa-search-plus {
    float: right;
    position: absolute;
    right: 19px;
    top: 13px;
}
.recent-post-dropdown {
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
    padding: 0px;
    padding-bottom: 11px;
}
.recent-post-dropdown .dropdown {
    float: right;
}
.recent-post-dropdown .btn{
	    padding: 4px 26px 4px 10px;
    text-align: left;}
	 
.recent-post-dropdown .btn .caret {
    margin-left: 0;
    right: 0px;
    position: absolute;
    top: 12px;
    right: 7px;
}
.pinbtn{
	margin-right: 5px !important;}
	
/*-------------- Home page patients section -----------------*/

.home-recent-post-patients .health-detail-image {
    height: 174px;
    background-size: cover !important;
    margin-bottom: 10px;
    border-radius: 6px;
}	
.patient-pd-off{
	padding:0px;}
.home-recent-post-patients .health-detail{border-bottom:0px}	

.home-recent-post-patients .carousel-control.right{
	right: -88px;
	background-image: none !important;}
.home-recent-post-patients .carousel-control.left{
	background: none !important;
	left: -88px;}
.home-recent-post-patients .carousel-indicators{
	display:none;}
.home-recent-post-patients .carousel-control{
	color: #CC184A;}
/*-------------- Home page doctors section -----------------*/

.home-recent-post-doctors .health-detail-image {
    height: 174px;
    background-size: cover !important;
    margin-bottom: 10px;
    border-radius: 6px;
}
.home-recent-post-doctors .health-detail{border-bottom:0px}	


/*-------------- Sign Up Form -----------------*/

.mainbox {
        margin: 0 auto;
    display: table;
    float: none;
    margin-top: 20px;
    background: #fff;
}
.mainbox .panel.panel-info {
    background: 0px;
    border: 0px;
    margin: 0;
}
.forgot {
    float: right;
    position: relative;
    right: 0px;
    top: -29px;
    margin-bottom: -16px;
}
.btn-info.facebook {
    background-color: #0F56A4;
    border: 1px solid #0A478A;
}
.mainbox .input-group {
    margin-bottom: 10px;
}
.welcome{
	    text-align: center;
    font-size: 18px;
    padding-top: 12px;}
#signupform .control-label{
	margin-left:0px}	
/*-------------- End Sign Up Form -----------------*/





@media (min-width: 992px){


    .text-right-md{text-align:right;}.text-left-md{text-align:left;}.text-center-md{text-align:center;}
    .mb-md-10{margin-bottom:10px;}.mb-md-20{margin-bottom:20px;}.mb-md-30{margin-bottom:30px;}.mb-md-40{margin-bottom:40px;}.mb-md-50{margin-bottom:50px;}.mb-md-60{margin-bottom:60px;}.mb-md-70{margin-bottom:70px;}.mb-md-80{margin-bottom:80px;}.mb-md-90{margin-bottom:90px;}.mb-md-100{margin-bottom:100px;}
    .dp-center-md{display:table;margin: 0 auto !important;float:none;}
	.text-right.health-social.pull-left.row { margin-top: 10px;}
	
    
    
    
}
@media (min-width: 768px){
    .text-right-sm{
        text-align:right;
    }
	
	
}
@media (max-width: 1200px){
	.surch-main .btn{padding: 7px 46px;}
	.min-width-search .chosen-container-single .chosen-single{    min-width: 177px;}
	.navbar-collapse.collapse.min-width-search{    width: 66%;}
	.online, .offline{margin: 7px 0px;display: inline-block;}
	header.after-login .top-logo{    text-align: center;}
	header.header_3 .top-logo{    text-align: center;}
	header.after-login .navbar-collapse.collapse.min-width-search{width: 100%;}
	header.after-login .navbar-collapse.collapse.min-width-search .btn-search{left: -19px;}
	header.after-login .min-width-search .chosen-container-single .chosen-single{min-width: 187px;}
	.form-group.has-feedback{width: 48%;}
	.tab-content .form-horizontal .control-label{margin-left:0px;}
	.Sort-dropdown {width: 79%;}
    .dark-pink { padding: 6px 10px;}
    .pinbtn { margin-right: 3px !important;}
    .search-from-side-btn { padding: 7px 13px !important ;}
	.text-right {ext-align: left !important;}
   
   .share-min-class {
    width: 100%;
    text-align: left;
    padding: 0px;
    margin-top: 10px;}
	.header_3 .min-width-search{width: 100% !important;}
  	.header_3 .min-width-search .chosen-container-single .chosen-single {min-width: 200px;}
}

@media (max-width: 992px){
	.Health-box-text{position: absolute;width: 100%;}
	.box{margin-bottom: 10px;}
	#banner .btn{padding: 7px 41px !important;margin: 0 auto !important;left: 0px;}
	.navbar-brand {margin-top: -9px;}
	#banner{ padding: 29px 0px 69px;}
	.input-group.hm-search {margin-bottom: 5px;}
	img.carton-right{right: 51px;top: 22px;}.carton{top: 22px;}
	.doctor-mini-rating-col .company{text-align: right;padding: 0px;}
	.doctor-mini-rating-col .name{    text-align: right;}
	.doctor-mini-rating-col{height: 106px;}
	.doctor-list  img{margin: 0 auto;    text-align: center;}
	.doc-detail-md{margin: 0px; margin-top: 20px;}
	.online, .offline{margin: 7px 0px;display: inline-block;}
	.top-logo{margin-bottom: 4px;text-align: center;}
	.sign-up-btn-top{width: 100%;margin: 0px 0px;margin-bottom: 10px;padding: 0px;    margin-top: 10px;}
	.sign-up-btn-top .btn{width: 100%;}
	.navbar-collapse.collapse.min-width-search{width: 100%;    overflow: inherit;}
	 .navbar-collapse.collapse.min-width-search .navbar-form{padding:0px !important;}
	 .min-width-search .chosen-container-single .chosen-single{min-width: auto !important;}
	 .search-md-form-cs{width: 100% !important;}
	 .btn-search{width: 15%;}
	 .navbar-collapse.collapse.min-width-search .btn-search{left: 0px;width: 15.5%;}
	.input-group.hm-search{margin-left: 15px;}
	.navbar-collapse.collapse.min-width-search .navbar-form{padding: 0px !important; margin: 0px;   border: 0px;}
	.input-group.hm-search{    margin-left: 0px;}
	.chosen-container-active .chosen-drop{ position: relative !important;}
	.navbar-brand {margin-top: -32px;}
	header.after-login .navbar-collapse.collapse.min-width-search .btn-search{left: 0px;}
	header.after-login .navbar-right{margin-right:0px;}
	.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label{margin-left: 48px;}
	.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time{left: -76px;width: 102px;}
	.timeline-centered .timeline-entry .timeline-entry-inner{margin-left: -22px}
	.timeline-centered .timeline-entry{width: 79%;}
	.timeline-centered:before{left: 22%;}
	.drop-zone-main{margin-bottom: 10px;padding: 0px !important;}
	.footer-bottem p{text-align: center;}
	.footer-nav {float: none;display: table;margin: 0 auto;margin-top: 10px;}
	header.after-login .after-login-top-menu{float: left !important;}
	.after-login .top-logo img, .header_3 .top-logo img{    margin-bottom: 18px;}
	.header_3 .min-width-search .navbar-form{width:100% !important;}
	.header_3 .after-login-top-menu {float: left !important;padding: 6px 7px 13px !important;}
	.header_3 ul.nav.navbar-nav.top-header.navbar-right{    margin-top: 7px;}
	header .btn-info{padding: 6px 11px;}
}
@media (max-width: 980px){
.pinbtn { margin-right: 5px !important;clear: both;}
.Sort-dropdown { width: 76%;}
.search-from-side-btn { padding: 7px 12px !important;}
 .text-right.health-social.pull-left.row { margin-top: 8px;}
 
.pin-buttons {
    padding: 0px;
    margin: 0;
	text-align: left !important;
}
.share-name {
    width: 100%;
}
.text-right {
    text-align: left;
    padding: 0px;
}
   
}
@media (max-width: 768px){
	.Health-box-text{
		position: absolute;
		    width: 100%;
	}
	.Health-box{    
		margin-bottom: 10px;
	}
	#banner .btn{width:100%}
	.surch-main{background:none;border:0px;}
	.surch-main .col-md-5.col-sm-5.col-xs-12.row.surch-right, .surch-main .col-md-2.col-sm-2.col-xs-12.row.hm-search {margin: 0px;padding: 0px;}
	.footer-nav ul li{text-align: center;border-top: 1px solid #332C2C;padding: 3px 17px;width: 100%;}
	.footer-nav{margin-top: 12px;    float: none;}
	.paragrph.f20.regular{font-size: 15px !important;}
	.dark-pink{padding: 6px 12px;}
	.top-logo{text-align: left;}
	.navbar-brand {margin-top: -9px;}
	.home-page-sign-up{margin-left: 0px;}
	.home-page-sign-up .btn{    width: 100%;}
	.navbar-collapse.collapse.min-width-search .btn-search{border-radius: 5px;width: 100%;}
	header.after-login .top-logo {text-align: left;}
	header.after-login .navbar-right{margin: 0px;clear: both;}
	header.after-login  a.dropdown-toggle.btn.btn-default.btn-user:after {clear: both;content: '';display: block;}
	header.after-login  a.dropdown-toggle span{float: right;}
	header.after-login  a.dropdown-toggle strong{float: left;}
	header.after-login .navbar-right{margin: 0px;clear: both;}
	header.after-login .chosen-container.chosen-with-drop .chosen-drop{left: 0;width: 100%;}
	header.after-login .navbar-login{width: 100%;}
	.doc-profile-detail{    position: relative;    bottom: 0;}
	.doc-profile-detail .dark-pink{width: 100%;    margin-bottom: 10px !important;}
	.first-dialog, .secound-dialog, .singup-dialog{width: 90%;}
	.sing-main, .sing-withd, .sing-up-right{    width: 100%;}
	.sing-up-right{padding: 0px 37px;margin-top: -93px;    color: #000 !important;}
	.timeline-centered .timeline-entry{width: 100%;}
	.timeline-centered .timeline-entry .timeline-entry-inner{margin-left: 0;}
	.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time{left: 0;width: 100%;position: relative;clear: both;display: block;margin-bottom: 12px;}
	.timeline-centered:before {display:none;}
	.doc-profile-detail{width: 100%;}
	.doctor-mini-rating-col{padding: 0px;margin: 0px;width: 100%;}
	.doctor-mini-rating-col .name {text-align: center;}
	.doctor-mini-rating-col .company{text-align: center;}
	.doctor-mini-rating-col{height: 76px;}
	.alert-dropdown{display:none !important;}
	.form-group.has-feedback{width: 100%;margin-right:0px;}
	.some-left{border:0px !important;}
	.col-health-main{margin:0px;}
	img.img-responsive { text-align: center; display: table; margin: 0 auto;}   
.resent-post-text { }
.Sort-dropdown { width: 65%;}
.health-detail-image img {
    width: 100%;
    text-align: center;
	    margin-bottom: 10px;
}
.resent-post-img img {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.text-right {
   text-align: right;
    padding: 36px 42px 0px 0px !important
}
    .patient-pd-off{
	    padding: 0px 15px !important;}
		.home-recent-post-patients .health-detail-image, .home-recent-post-doctors .health-detail-image{    height: 111px;float: left; width: 33%;}
		.home-recent-post-patients .health-detail, .home-recent-post-doctors .health-detail{text-align: left !important;}
		.after-login .top-logo img {padding-top: 9px;}
		.mb-full{
	width:100%}
	
	.header_3 .top-logo img{
		margin: 0 !important;
		padding: 11px !important;}
	header.header_3 .top-logo{    text-align: left !important;}
	header.header_3 .navbar-collapse.collapse.min-width-search .navbar-form{    padding: 10px 15px !important;}	
	.header_3 .min-width-search .btn-search{left: 0px !important;}
	.header_3 .btn-info{    width: 100%;}
	.header_3 ul.nav.navbar-nav.top-header.navbar-right{    margin: 0px; margin-bottom: 10px;}
}
@media (max-width: 480px){
.health-detail-image img {
    width: 100%;
    text-align: center;
	    margin-bottom: 10px;
}
.resent-post-img img {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.health-detail.clearfix {
    text-align: center;
}
.Sort-dropdown {
    width: 74%;
}

.dark-pink {
    padding: 6px 7px;
}
.health-detail-image {
    text-align: center;
    display: table;
    margin: 0 auto;
    float: none;
    width: 100%;
}


}
