@font-face {font-family: 'Montserrat'; font-weight: 100; src: url(../fonts/Montserrat-UltraLight.otf) format('otf');}
@font-face {font-family: 'Montserrat'; font-weight: 300; src: url(../fonts/Montserrat-Light.otf) format('otf');}
@font-face {font-family: 'Montserrat'; font-weight: 400; src: url(../fonts/Montserrat-Regular.ttf) format('ttf');}
@font-face {font-family: 'Montserrat'; font-weight: 500; src: url(../fonts/Montserrat-SemiBold.otf) format('otf');}
@font-face {font-family: 'Montserrat'; font-weight: 700; src: url(../fonts/Montserrat-Bold.otf) format('otf');}
@font-face {font-family: 'Montserrat'; font-weight: 800; src: url(../fonts/Montserrat-ExtraBold.otf) format('otf');}
@font-face {font-family: 'Montserrat'; font-weight: 900; src: url(../fonts/Montserrat-Black.otf) format('otf');}

.doctor_specialization_table, .education_table, .award_table, .membership_table {.table-photo {min-width: 63px;}}

.site-header {
  .site-header-collapsed {float: none;}
  .site-logo {
    img {
      width: 188px;
      height: auto;
      top: 10px;
    }
  }
}

.page-doctor-signin, .page-patient-login {
  display: block;
  text-align: center;
  padding-top: 100px;
  height: auto !important;
  .page-center-in {display: block}
  #login_page center img {margin-bottom: 20px;}
}

.view-doctor-profile {
  .commented-out {display: none;}
  .doctors_profile {padding: 30px 0;}
  .appointment-overlay {
    display: none;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    padding-top: 100px;
    [class^="appointment-popup-"] {
      display: none;
      margin: 0 auto;
      background-color: white;
      text-align: center;
      max-width: 1200px;
      min-height: 575px;
      position: relative;
      .close {
        display: inline-block;
        position: absolute;
        right: 29px;
        top: 24px;
        font-size: 22px;
      }
      .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 100%;
        > button {
          height: 50px;
          min-width: 180px;
          padding: 0 20px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-top: 30px;
          font-weight: 400;
          font-size: 16px;
          &.proceed {
            background-color: #15a2c0;
            color: white;
            border: none;
            margin-right: 30px;
          }
          &.cancel {
            background-color: transparent;
            color: #15a2c0;
            border: 1px solid #15a2c0;
          }
          &:last-child {margin-right: 0;}
        }
        .container-fluid {
          text-align: left;
          .row {
            margin-bottom: 20px;
            &:last-child {margin-bottom: 0;}
          }
        }
      }
    }
    .appointment-popup-1 {
      .wrapper {
        padding: 30px 15px;
        position: static;
        top: auto;
        left: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
      }
      h4 {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 20px;
        color: #333333;
      }
      h5 {
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 17px;
        color: #666666;
      }
      .media-left img {max-height: 50px;}
      .media-body {
        vertical-align: middle;
        h6 {
          margin: 0 auto;
          font-weight: 400;
          font-size: 16px;
          color: #666666;
        }
      }
      input[type="text"] {
        border: 1px solid #b4cad2;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 0 12px;
        height: 50px;
        width: 100%;
      }
      .picker-wrapper {
        float: left;
        background-color: #f5f5f5;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 30px 30px 10px;
        width: 100%;
        .picker-nav {
          text-align: center;
          margin-bottom: 30px;
          img {cursor: pointer;}
          span {margin: 0 15px;}
        }
        .picker-slots {
          button {
            float: left;
            background-color: #15a2c0;
            border: none;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            _width: 147px;
            height: 35px;
            color: white;
            margin-right: 10px !important;
            margin-bottom: 20px;
            padding: 0 10px;
            _min-height: 50px;
            &:nth-child(3n+0) {margin-right: 0;}
          }
        }
      }
      .summarized {
        > h5 {float: left; display: inline;}
        > a {
          h5 {
            float: right;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 17px;
            color: #15a2c0;
          }
        }
        hr {border-top-color: #d3e3e6;}
        h2 {
          font-weight: 400;
          font-size: 30px;
          color: #666666;
          margin-bottom: 12px;
        span {font-size: 18px; margin-left: 4px;}
        }
        h6 {
          font-weight: 300;
          font-size: 16px;
          color: #666666;
        }
      }
      .mce-tinymce {
        iframe {
          width: calc(100% - 1px) !important;
          height: 450px !important;
        }
      }
      #appointment-notes {
        border: 1px solid #b4cad2;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 12px;
        height: 300px;
        width: 100%;
      }
    }
    .appointment-popup-2 {
      .wrapper {padding: 60px 45px;}
      > h1 {
        font-weight: 400;
        font-size: 30px;
        color: #666666;
      }
      p {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.9;
        color: #a2a2a2;
      }
    }
    .appointment-popup-3 {
      h1 {
        font-weight: 400;
        font-size: 30px;
        color: #46c35f;
      }
      p {
        margin: 0 auto 20px;
        max-width: 550px;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.9;
        color: #a2a2a2;
      }
    }
  }
  #contact-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 100px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    .popup-contact {
      margin: 0 auto;
      max-width: 768px;
      background-color: white;
      padding: 30px;
      #message_text {
        width: 100%;
        padding: 6px 12px;
      }
      button {
        background: none;
        border: none;
        min-width: 180px;
        height: 50px;
        padding: 0 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px;
        &#popup-contact-submit {
          background-color: #15a2c0;
          color: white;
          margin-right: 30px;
        }
        &#popup-contact-cancel {
          border: 1px solid #15a2c0;
          color: #15a2c0;
        }
      }
    }
  }
}

.page-doctor-info {
  .condition-clear {
    margin-top: 0;
    background: none;
    border: none;
    padding: 0 15px;
    .col-md-2 {
      text-align: center;
      .add {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 50px;
        background-color: #16a3c1;
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-weight: 600;
        font-size: 16px;
        color: white;
        padding: 6px 16px;
        &:hover {background-color: #16b4fc;}
      }
    }
  }
  .condition-form {
    display: none;
    center {clear: both;}
  }
  .overlay-edit {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    padding-top: 70px;
    .condition-edit {
      display: block;
      center {clear: both;}
    }
  }
}

.page-my-health {
  .input-group {width: 100%;}
  .tabledit-edit-button {cursor: pointer;}
  .condition-clear {
    margin-top: 0;
    background: none;
    border: none;
    padding: 0 15px;
    .col-md-2 {
      text-align: center;
      .add {
        display: inline-block;
        margin-top: 30px;
        background-color: #00a8ff;
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-weight: 600;
        font-size: 16px;
        color: white;
        padding: 6px 16px;
        &:hover {background-color: #16b4fc;}
      }
    }
  }
  .condition {
    display: none;
    .row center {clear: both;}
  }
  .cancel {
    background-color: white;
    color: #00a8ff;
  }
  .overlay-edit {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    padding-top: 70px;
    .condition-edit {
      display: block;
    }
  }
}

.registration_content {
  font-family: "Montserrat", sans-serif;
  padding: 0 !important;
  .container-fluid {
    max-width: 1237px;
    > .row:last-child {
      margin: 40px auto;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      color: #666666;
      label {
        margin-top: 15px;
        a {color: #139bb8;}
        input[type="checkbox"] {visibility: visible;}
      }
    }
  }
  .card-block {padding: 30px;}
  .registration-header {
    padding-top: 35px;
    text-align: center;
    h4 {font-weight: 300; font-size: 20px; color: #139bb8; margin: 15px auto 40px;}
  }
  .box-typical-upload {
    height: auto;
    margin-bottom: 20px;
    .ajax-upload-dragdrop {
      position: relative;
      height: 220px;
      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
  #ajax_image_upload {
    > .row > .checkbox {display: none;}
    .box-typical-upload {
      position: relative;
      border: 1px solid #999999;
      height: 242px;
      text-align: center;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        display: inline-block;
        margin: 0;
        min-height: 100%;
        min-width: 100%;
      }
    }
    label {width: 100%;}
  }
  .card {
    h3 {font-weight: 300; font-size: 20px; color: #999999;}
    label {font-weight: 300; font-size: 14px; margin-bottom: 6px;}
    input {font-weight: 300; font-size: 14px; height: 38px;}
    span {font-weight: 300; font-size: 14px !important;}
  }
  button[type="submit"] {
    margin: 15px 0 30px;
  }
}

.col-sm-8.legend {
  text-align: right;
  > div {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    margin-left: 25px;
    div {
      display: inline-block;
      margin-left: 15px;
      border: 1px solid #c9c9c9;
      height: 100%;
      width: 42px;
    }
    &:nth-child(1) {
      margin-left: 0;
      div {background-color: #b0e4fe;}
    }
    &:nth-child(2) div {background-color: #8bc34a;}
  }
}
.calendar-page {
  .success-overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    padding-top: 100px;
    z-index: 100;
    .success-popup {
      margin: 0 auto;
      background-color: white;
      text-align: center;
      max-width: 700px;
      min-height: 500px;
      position: relative;
      .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        h1 {
          font-weight: 600;
          font-size: 35px;
          color: #46c35f;
        }
        p {
          margin: 0 auto 20px;
          max-width: 550px;
          font-weight: 300;
          font-size: 22px;
          line-height: 1.9;
          color: #666666;
        }
        button {
          background-color: #15a2c0;
          color: white;
          border: none;
          height: 50px;
          min-width: 180px;
          padding: 0 20px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-top: 30px;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
  .calendar-page-title {display: none;}
  .calendar-page-content-in {
    margin-right: 0;
    > .row > .col-md-12 {margin: 0 !important;}
  }
  #myModal {
    .modal-dialog {@media (min-width: 992px) {width: 950px;}}
    .modal-header {text-align: center; border: none;}
    .calendar_avail {
      .modal-body {
        .repeat-row {
          text-align: center;
          padding: 0 15px;
          .repeat-box {
            background-color: #f5f5f5;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding: 30px;
            .toggle-box {
              margin-top: 30px;
              display: none;
              &.visible {display: block;}
              .row {
                text-align: left;
                margin: 15px 0 0;
                min-height: 38px;
                &:nth-child(2) {margin-top: 30px;}
                span {
                  font-weight: 400;
                  font-size: 17px;
                  color: #666666;
                }
                &:not(:first-child) > span:first-child {
                  height: 30px;
                  display: inline-block;
                  width: 100px;
                  vertical-align: middle;
                }
              }
            }
            .checkbox-bird {
              position: static;
              display: inline-block;
              vertical-align: middle;
              margin-right: 15px;
              margin-bottom: 0;
            }
            .checkbox-detailed {
              vertical-align: middle;
              margin-bottom: 0;
              > label {
                background: none;
                border: none;
                height: auto;
                width: auto;
                padding-left: 20px;
                &::before {left: 0;}
                .checkbox-detailed-cell {padding: 0;}
              }
            }
            span.select2-wrapper {
              display: inline-block;
              height: 38px;
              width: 100px;
              margin-left: 10px;
              margin-right: 100px;
              .select2-selection__rendered {text-align: left; padding-left: 12px;}
            }
            div.date-input-wrapper {
              display: inline-block;
              vertical-align: middle;
              height: 38px;
              width: 200px;
            }
            input[type="number"] {
              margin-left: 10px;
              width: 75px;
              height: 38px;
              padding-left: 12px;
            }
            label {
              display: inline-block;
              &[for="repeat-toggle"] {
                font-weight: 600;
                font-size: 18px;
                color: black;
              }
            }
          }
        }
      }
      .modal-footer {
        border: none;
        text-align: center;
        button {
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
      }
    }
  }
}

.page-doctor-update_profile {
  .row [class^="col-"] {min-height: 82px;}
}

.page-patient-update_profile {
  .row [class^="col-"] {min-height: 82px;}
  section.card:nth-child(2) {
    .row [class^="col-"] .row [class^="col-"] {min-height: 38px;}
  }
}

.page-doctor-patient-message {
  section.chat-list {
    width: 100%;
    .chat-list-search {display: none;}
  }
}

.page-doctor-patient-chat {
  .chat-area-in {margin-left: 0;}
}

