@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: url(../fonts/Montserrat-UltraLight.otf) format("otf"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url(../fonts/Montserrat-Light.otf) format("otf"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.ttf) format("ttf"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url(../fonts/Montserrat-SemiBold.otf) format("otf"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url(../fonts/Montserrat-Bold.otf) format("otf"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url(../fonts/Montserrat-ExtraBold.otf) format("otf"); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url(../fonts/Montserrat-Black.otf) format("otf"); }
.doctor_specialization_table .table-photo, .education_table .table-photo, .award_table .table-photo, .membership_table .table-photo {
  min-width: 63px; }

.site-header .site-header-collapsed {
  float: none; }
.site-header .site-logo img {
  width: 188px;
  height: auto;
  top: 10px; }

.page-doctor-signin, .page-patient-login {
  display: block;
  text-align: center;
  padding-top: 100px;
  height: auto !important; }
  .page-doctor-signin .page-center-in, .page-patient-login .page-center-in {
    display: block; }
  .page-doctor-signin #login_page center img, .page-patient-login #login_page center img {
    margin-bottom: 20px; }

.view-doctor-profile .commented-out {
  display: none; }
.view-doctor-profile .doctors_profile {
  padding: 30px 0; }
.view-doctor-profile .appointment-overlay {
  display: none;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding-top: 100px; }
  .view-doctor-profile .appointment-overlay [class^="appointment-popup-"] {
    display: none;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
    background-color: white;
    text-align: center;
    max-width: 1200px;
    min-height: 575px;
    position: relative; }
    .view-doctor-profile .appointment-overlay [class^="appointment-popup-"] .close {
      display: inline-block;
      position: absolute;
      right: 29px;
      top: 24px;
      font-size: 22px; }
    .view-doctor-profile .appointment-overlay [class^="appointment-popup-"] .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%; }
      .view-doctor-profile .appointment-overlay [class^="appointment-popup-"] .wrapper > button {
        height: 50px;
        min-width: 180px;
        padding: 0 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px; }
        .view-doctor-profile .appointment-overlay [class^="appointment-popup-"] .wrapper > button.proceed {
          background-color: #15a2c0;
          color: white;
          border: none;
          margin-right: 30px; }
        .view-doctor-profile .appointment-overlay [class^="appointment-popup-"] .wrapper > button.cancel {
          background-color: transparent;
          color: #15a2c0;
          border: 1px solid #15a2c0; }
        .view-doctor-profile .appointment-overlay [class^="appointment-popup-"] .wrapper > button:last-child {
          margin-right: 0; }
      .view-doctor-profile .appointment-overlay [class^="appointment-popup-"] .wrapper .container-fluid {
        text-align: left; }
        .view-doctor-profile .appointment-overlay [class^="appointment-popup-"] .wrapper .container-fluid .row {
          margin-bottom: 20px; }
          .view-doctor-profile .appointment-overlay [class^="appointment-popup-"] .wrapper .container-fluid .row:last-child {
            margin-bottom: 0; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 .wrapper {
    padding: 30px 15px;
    position: static;
    top: auto;
    left: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 h4 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    color: #333333; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 h5 {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 17px;
    color: #666666; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 .media-left img {
    max-height: 50px; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 .media-body {
    vertical-align: middle; }
    .view-doctor-profile .appointment-overlay .appointment-popup-1 .media-body h6 {
      margin: 0 auto;
      font-weight: 400;
      font-size: 16px;
      color: #666666; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 input[type="text"] {
    border: 1px solid #b4cad2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 12px;
    height: 50px;
    width: 100%; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 .picker-wrapper {
    float: left;
    background-color: #f5f5f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 30px 30px 10px;
    width: 100%; }
    .view-doctor-profile .appointment-overlay .appointment-popup-1 .picker-wrapper .picker-nav {
      text-align: center;
      margin-bottom: 30px; }
      .view-doctor-profile .appointment-overlay .appointment-popup-1 .picker-wrapper .picker-nav img {
        cursor: pointer; }
      .view-doctor-profile .appointment-overlay .appointment-popup-1 .picker-wrapper .picker-nav span {
        margin: 0 15px; }
    .view-doctor-profile .appointment-overlay .appointment-popup-1 .picker-wrapper .picker-slots button {
      float: left;
      background-color: #15a2c0;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      _width: 147px;
      height: 35px;
      color: white;
      margin-right: 10px !important;
      margin-bottom: 20px;
      padding: 0 10px;
      _min-height: 50px; }
      .view-doctor-profile .appointment-overlay .appointment-popup-1 .picker-wrapper .picker-slots button:nth-child(3n+0) {
        margin-right: 0; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 .summarized > h5 {
    float: left;
    display: inline; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 .summarized > a h5 {
    float: right;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #15a2c0; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 .summarized hr {
    border-top-color: #d3e3e6; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 .summarized h2 {
    font-weight: 400;
    font-size: 30px;
    color: #666666;
    margin-bottom: 12px; }
    .view-doctor-profile .appointment-overlay .appointment-popup-1 .summarized h2 span {
      font-size: 18px;
      margin-left: 4px; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 .summarized h6 {
    font-weight: 300;
    font-size: 16px;
    color: #666666; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 .mce-tinymce iframe {
    width: calc(100% - 1px) !important;
    height: 450px !important; }
  .view-doctor-profile .appointment-overlay .appointment-popup-1 #appointment-notes {
    border: 1px solid #b4cad2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 12px;
    height: 300px;
    width: 100%; }
  .view-doctor-profile .appointment-overlay .appointment-popup-2 .wrapper {
    padding: 60px 45px; }
  .view-doctor-profile .appointment-overlay .appointment-popup-2 > h1 {
    font-weight: 400;
    font-size: 30px;
    color: #666666; }
  .view-doctor-profile .appointment-overlay .appointment-popup-2 p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.9;
    color: #a2a2a2; }
  .view-doctor-profile .appointment-overlay .appointment-popup-3 h1 {
    font-weight: 400;
    font-size: 30px;
    color: #46c35f; }
  .view-doctor-profile .appointment-overlay .appointment-popup-3 p {
    margin: 0 auto 20px;
    max-width: 550px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.9;
    color: #a2a2a2; }
.view-doctor-profile #contact-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center; }
  .view-doctor-profile #contact-overlay .popup-contact {
    margin: 0 auto;
    max-width: 768px;
    background-color: white;
    padding: 30px; }
    .view-doctor-profile #contact-overlay .popup-contact #message_text {
      width: 100%;
      padding: 6px 12px; }
    .view-doctor-profile #contact-overlay .popup-contact button {
      background: none;
      border: none;
      min-width: 180px;
      height: 50px;
      padding: 0 20px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-top: 30px;
      font-weight: 400;
      font-size: 16px; }
      .view-doctor-profile #contact-overlay .popup-contact button#popup-contact-submit {
        background-color: #15a2c0;
        color: white;
        margin-right: 30px; }
      .view-doctor-profile #contact-overlay .popup-contact button#popup-contact-cancel {
        border: 1px solid #15a2c0;
        color: #15a2c0; }

.page-doctor-info .condition-clear {
  margin-top: 0;
  background: none;
  border: none;
  padding: 0 15px; }
  .page-doctor-info .condition-clear .col-md-2 {
    text-align: center; }
    .page-doctor-info .condition-clear .col-md-2 .add {
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 50px;
      background-color: #16a3c1;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-weight: 600;
      font-size: 16px;
      color: white;
      padding: 6px 16px; }
      .page-doctor-info .condition-clear .col-md-2 .add:hover {
        background-color: #16b4fc; }
.page-doctor-info .condition-form {
  display: none; }
  .page-doctor-info .condition-form center {
    clear: both; }
.page-doctor-info .overlay-edit {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  padding-top: 70px; }
  .page-doctor-info .overlay-edit .condition-edit {
    display: block; }
    .page-doctor-info .overlay-edit .condition-edit center {
      clear: both; }

.page-my-health .input-group {
  width: 100%; }
.page-my-health .tabledit-edit-button {
  cursor: pointer; }
.page-my-health .condition-clear {
  margin-top: 0;
  background: none;
  border: none;
  padding: 0 15px; }
  .page-my-health .condition-clear .col-md-2 {
    text-align: center; }
    .page-my-health .condition-clear .col-md-2 .add {
      display: inline-block;
      margin-top: 30px;
      background-color: #00a8ff;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-weight: 600;
      font-size: 16px;
      color: white;
      padding: 6px 16px; }
      .page-my-health .condition-clear .col-md-2 .add:hover {
        background-color: #16b4fc; }
.page-my-health .condition {
  display: none; }
  .page-my-health .condition .row center {
    clear: both; }
.page-my-health .cancel {
  background-color: white;
  color: #00a8ff; }
.page-my-health .overlay-edit {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  padding-top: 70px; }
  .page-my-health .overlay-edit .condition-edit {
    display: block; }

.registration_content {
  font-family: "Montserrat", sans-serif;
  padding: 0 !important; }
  .registration_content .container-fluid {
    max-width: 1237px; }
    .registration_content .container-fluid > .row:last-child {
      margin: 40px auto;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      color: #666666; }
      .registration_content .container-fluid > .row:last-child label {
        margin-top: 15px; }
        .registration_content .container-fluid > .row:last-child label a {
          color: #139bb8; }
        .registration_content .container-fluid > .row:last-child label input[type="checkbox"] {
          visibility: visible; }
  .registration_content .card-block {
    padding: 30px; }
  .registration_content .registration-header {
    padding-top: 35px;
    text-align: center; }
    .registration_content .registration-header h4 {
      font-weight: 300;
      font-size: 20px;
      color: #139bb8;
      margin: 15px auto 40px; }
  .registration_content .box-typical-upload {
    height: auto;
    margin-bottom: 20px; }
    .registration_content .box-typical-upload .ajax-upload-dragdrop {
      position: relative;
      height: 220px; }
      .registration_content .box-typical-upload .ajax-upload-dragdrop > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .registration_content #ajax_image_upload > .row > .checkbox {
    display: none; }
  .registration_content #ajax_image_upload .box-typical-upload {
    position: relative;
    border: 1px solid #999999;
    height: 242px;
    text-align: center; }
    .registration_content #ajax_image_upload .box-typical-upload img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: inline-block;
      margin: 0;
      min-height: 100%;
      min-width: 100%; }
  .registration_content #ajax_image_upload label {
    width: 100%; }
  .registration_content .card h3 {
    font-weight: 300;
    font-size: 20px;
    color: #999999; }
  .registration_content .card label {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 6px; }
  .registration_content .card input:not([class="select2-search__field"]) {
    font-weight: 300;
    font-size: 14px;
    height: 38px; }
  .registration_content .card span {
    font-weight: 300;
    font-size: 14px !important; }
  .registration_content button[type="submit"] {
    margin: 15px 0 30px; }

.col-sm-8.legend {
  text-align: right; }
  .col-sm-8.legend > div {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    margin-left: 25px; }
    .col-sm-8.legend > div div {
      display: inline-block;
      margin-left: 15px;
      border: 1px solid #c9c9c9;
      height: 100%;
      width: 42px; }
    .col-sm-8.legend > div:nth-child(1) {
      margin-left: 0; }
      .col-sm-8.legend > div:nth-child(1) div {
        background-color: #b0e4fe; }
    .col-sm-8.legend > div:nth-child(2) div {
      background-color: #8bc34a; }

.calendar-page .success-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding-top: 100px;
  z-index: 100; }
  .calendar-page .success-overlay .success-popup {
    margin: 0 auto;
    background-color: white;
    text-align: center;
    max-width: 700px;
    min-height: 500px;
    position: relative; }
    .calendar-page .success-overlay .success-popup .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%; }
      .calendar-page .success-overlay .success-popup .wrapper h1 {
        font-weight: 600;
        font-size: 35px;
        color: #46c35f; }
      .calendar-page .success-overlay .success-popup .wrapper p {
        margin: 0 auto 20px;
        max-width: 550px;
        font-weight: 300;
        font-size: 22px;
        line-height: 1.9;
        color: #666666; }
      .calendar-page .success-overlay .success-popup .wrapper button {
        background-color: #15a2c0;
        color: white;
        border: none;
        height: 50px;
        min-width: 180px;
        padding: 0 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px; }
.calendar-page .calendar-page-title {
  display: none; }
.calendar-page .calendar-page-content-in {
  margin-right: 0; }
  .calendar-page .calendar-page-content-in > .row > .col-md-12 {
    margin: 0 !important; }
@media (min-width: 992px) {
  .calendar-page #myModal .modal-dialog {
    width: 950px; } }
.calendar-page #myModal .modal-header {
  text-align: center;
  border: none; }
.calendar-page #myModal .calendar_avail .modal-body .repeat-row {
  text-align: center;
  padding: 0 15px; }
  .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box {
    background-color: #f5f5f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 30px; }
    .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .toggle-box {
      margin-top: 30px;
      display: none; }
      .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .toggle-box.visible {
        display: block; }
      .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .toggle-box .row {
        text-align: left;
        margin: 15px 0 0;
        min-height: 38px; }
        .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .toggle-box .row:nth-child(2) {
          margin-top: 30px; }
        .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .toggle-box .row span {
          font-weight: 400;
          font-size: 17px;
          color: #666666; }
        .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .toggle-box .row:not(:first-child) > span:first-child {
          height: 30px;
          display: inline-block;
          width: 100px;
          vertical-align: middle; }
    .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .checkbox-bird {
      position: static;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      margin-bottom: 0; }
    .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .checkbox-detailed {
      vertical-align: middle;
      margin-bottom: 0; }
      .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .checkbox-detailed > label {
        background: none;
        border: none;
        height: auto;
        width: auto;
        padding-left: 20px; }
        .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .checkbox-detailed > label::before {
          left: 0; }
        .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box .checkbox-detailed > label .checkbox-detailed-cell {
          padding: 0; }
    .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box span.select2-wrapper {
      display: inline-block;
      height: 38px;
      width: 100px;
      margin-left: 10px;
      margin-right: 100px; }
      .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box span.select2-wrapper .select2-selection__rendered {
        text-align: left;
        padding-left: 12px; }
    .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box div.date-input-wrapper {
      display: inline-block;
      vertical-align: middle;
      height: 38px;
      width: 200px; }
    .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box input[type="number"] {
      margin-left: 10px;
      width: 75px;
      height: 38px;
      padding-left: 12px; }
    .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box label {
      display: inline-block; }
      .calendar-page #myModal .calendar_avail .modal-body .repeat-row .repeat-box label[for="repeat-toggle"] {
        font-weight: 600;
        font-size: 18px;
        color: black; }
.calendar-page #myModal .calendar_avail .modal-footer {
  border: none;
  text-align: center; }
  .calendar-page #myModal .calendar_avail .modal-footer button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

.page-doctor-update_profile .row [class^="col-"] {
  min-height: 82px; }

.page-patient-update_profile section.card:nth-child(2) .row [class^="col-"] .row [class^="col-"] {
  min-height: 38px; }

.page-doctor-patient-message section.chat-list {
  width: 100%; }
  .page-doctor-patient-message section.chat-list .chat-list-search {
    display: none; }

.page-doctor-patient-chat .chat-area-in {
  margin-left: 0; }

/*# sourceMappingURL=custom_mb.css.map */
