/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2016, 11:45:33 AM
    Author     : Naieem Mahmud supto
    Url        :facebook.com/naieemmahmudsupto
*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/*
custom css coding for template issue
*/
.pic {
    position: relative;
}

.pic img{
    width: 100%;
}
.team_prof {
    padding: 10px 15px 5px;
    overflow: hidden;
    text-align: center;
}
.description {
    color: #666666;
    font-family: PT sans,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.our-doctor{
    border: 1px solid #dae0e0;
    position: relative;
}
/*[class*='close'] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
    z-index: 9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: red;
    padding: 6px 9px;
    border: 1px solid red;
}*/
.close-classic{
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
    z-index: 9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: red;
    padding: 6px 9px;
    border: 1px solid red;
}

.close-classic:after {
    content: 'X'; /* ANSI X letter */
}
.names{
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
}
/*
        Ratings Stars
        (with as little code as possible)
*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    display: none;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 24px;
    color: #be1f62;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0; 
    color: #be1f62;
}

.connection-meter{
    line-height: 15px;
}
.indicator{
    height: 15px;
    width: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #8ccc44;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0px;
}
.connection-meter span{
    text-transform: capitalize;
}

footer{
    text-transform: capitalize;
    width: 100%;
    background-color: rgb(237, 238, 240);
    display: block;
    text-align: center;
    position: relative;
    padding: 15px 0;
    max-height: 50px;
    bottom: 0px;
}
.control-panel .page-content {
    background-color: #f4f5f7 !important;
}
.view_profile{
    margin: 10px auto;
    width:80%;
}
.view_profile .btn{
    width: 100%;
}
.btn.btn-primary {
    background-color: #16a3c1;
    border-color: #16a3c1;
}
.circle-progress-bar-typical.size-56 {
    width: 110px;
}
.completense{
    min-height: 210px;
}
.doc_search_home{
    min-height: 210px;
}
.completense .card-block{
    padding-top: 20px;
}
.completense .col-md-8{
    padding: 20px 25px;
}
.condition{
    background: #fafafa;
    border: 1px solid #d4e3e6;
    padding: 25px;
    margin-top: 30px;
}
.side-menu{
    background: #167eb5 !important;
}
.side-menu-list li a,.side-menu-list li i{
    color: #fff !important;
}
.side-menu-list li span:hover{
    background: #0b90d5 !important;
}
.side-menu-list a:hover{
    color:#fff !important;
    background: none !important;
}
.doc_profile_pic{
    float: left;
    width: 20%;
    position: relative;
    margin-right: 2%;
}
.doc_profile_text_info{
    width: 50%;
    position: relative;
    float: left;
    padding: 20px 0 0px;
}
.doc_profile_button{
    width: 20%;
    position: relative;
    float: right;
    padding-top:2%;
    padding-right:2%;
}
.doctors_profile{
    float: left;
    width: 100%;
    display: block;
}
.doc_profile_info{
    padding: 0;
    margin: 0;
}
.doc_profile_text_info p{
    margin: 5px;
}
.doc_profile_text_info h2{
    margin: 0;
}
.doc_profile_pic img{
    max-width: 100%;
    height: 100%;
}
.p_btn{
    width: 100%;
}
.margin-top-20{
    margin-top:4%;
}
.doc_profile_text_info p i{
    margin-right: 10px;
    width: 20px;
}
.doc_profile_text_info p span.glyphicon{
    margin-right: 10px;
    width: 20px;
}
.doc_profile_simple_text{
    padding-top: 20px;
}
.registration_content{
    padding-left: 50px !important;
}
#login_page .sign-box .sign-title{
    margin: 0 0 20px;
    color: #1699b7;
}
.sign-box .btn {
    background: #15a2c0;
    width: 100%;
}

.input-group{
    width: 100%;
}
.table td {
    text-align: center;
}
.col-xs-15-image,
.col-sm-15-image,
.col-md-15-image,
.col-lg-15-image {
    position: relative;
    text-align: center;
    padding: 0 0 15px;
    margin: 0 8px 20px;
    min-height:180px;
    background-color: white;
}

.col-xs-15-image {
    width: 16%;
    float: left;
    min-height:180px; background-color: white;
}
@media (min-width: 768px) {
    .col-sm-15-image {
        width: 15%;
        float: left;

    }
}
@media (min-width: 992px) {
    .col-md-15-image {
        width: 15%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15-image {
        width: 15%;
        float: left;
    }
}
.patients_block img{
    width: 100%;
    height: auto;
}
body {
    background: #f4f5f7 !important;
}
.patients_block h4{
    padding-top:20px;
    font-size: 18px;
    color: #149bb8;
    font-weight: 600;
}
.patients_block a.btn{
    width: 80%;
}
.side-menu-list > li.with-sub .lbl{
    color: #fff !important;
}
.side-menu-list > li.opened > ul{
    background: #0273ad !important;
}
.side-menu-list > li.opened {
    background:none !important;
}
.side-menu-list > li.purple.opened a {
    border-left-color: #ac6bec;
    padding-left: 50px;
}
.side-menu-list > li.opened > ul li:hover{
    background: #0b90d5 !important;
}
.table thead th{
    text-align: center;
}
.site-header .site-logo{
    max-width: 190px;
}
.site-header .site-logo img{
    max-width: 100%;
}
.single-box-provider{
    margin-bottom: 20px;
}

.single-box-provider .team_prof{
    text-align: left;
    position: relative;
}
.single-box-provider .team_prof .connection-meter{
    position: absolute;
    float: right;
    position: absolute;
    right: 10px;
    top: 12px;
}

.none{ display:none;}
#calender_section{ width:700px; margin:30px auto 0;}
#calender_section h2{ background-color:#efefef; color:#444444; font-size:17px; text-align:center; line-height:40px;}
#calender_section h2 a{ color:#F58220; float:none;}
#calender_section_top{ width:100%; float:left; margin-top:20px;}
#calender_section_top ul{padding:0; list-style-type:none;}
#calender_section_top ul li{ float:left; display:block; width:99px; border-right:1px solid #fff;  text-align:center; font-size:14px; min-height:0; background:none; box-shadow:none; margin:0; padding:0;}
#calender_section_bot{ width:100%; margin-top:20px; float:left; border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
#calender_section_bot ul{ margin:0; padding:0; list-style-type:none;}
#calender_section_bot ul li{ float:left; width:99px; height:80px; text-align:center; border-top:1px solid #ccc; border-right:1px solid #ccc; min-height:0; background:none; box-shadow:none; margin:0; padding:0; position:relative;}
#calender_section_bot ul li span{ margin-top:7px; float:left; margin-left:7px; text-align:center;}

.grey_light{ background-color:#DDDDDD !important;}
.light_sky{ background-color:#B9FFFF !important;}

/*========== Hover Popup ===============*/
.date_cell { cursor: pointer; cursor: hand; }
.date_cell:hover { background: #DDDDDD !important; }
.date_popup_wrap {
    position: absolute;
    width: 143px;
    height: 115px;
    z-index: 9999;
    top: -115px;
    left:-55px;
    background: transparent url(add-new-event.png) no-repeat top left;
    color: #666 !important;
}
.events_window {
    overflow: hidden;
    overflow-y: auto;
    width: 133px;
    height: 115px;
    margin-top: 28px;
    margin-left: 25px;
}
.event_wrap {
    margin-bottom: 10px; padding-bottom: 10px;
    border-bottom: solid 1px #E4E4E7;
    font-size: 12px;
    padding: 3px;
}
.date_window {
    margin-top:20px;
    margin-bottom: 2px;
    padding: 5px;
    font-size: 16px;
    margin-left:9px;
    margin-right:14px
}
.popup_event {
    margin-bottom: 2px;
    padding: 2px;
    font-size: 16px;
    width:100%;
}
.popup_event a {color: #000000 !important;}
.packeg_box a {color: #F58220;float: right;}
a:hover {color: #181919;text-decoration: underline;}

@media only screen and (min-width:480px) and (max-width:767px) {
    #calender_section{ width:336px;}
    #calender_section_top ul li{ width:47px;}
    #calender_section_bot ul li{ width:47px;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #calender_section{ width:219px;}
    #calender_section_top ul li{ width:30px; font-size:11px;}
    #calender_section_bot ul li{ width:30px;}
    #calender_section_bot{ width:217px;}
    #calender_section_bot ul li{ height:50px;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #calender_section{ width:530px;}
    #calender_section_top ul li{ width:74px;}
    #calender_section_bot ul li{ width:74px;}
    #calender_section_bot{ width:525px;}
    #calender_section_bot ul li{ height:50px;}
}

.calendar-page .calendar-page-content-in{
    margin: 0 !important;
}
select{
    padding: 0 10px !important;
}
.active_nav{
    background: #0b90d5 !important;
    color: #fff !important;
}
.active_nav a{
    background: none !important;
}