body{
    background: #fff !important ;
}
header {
    background: #15181c;
    border-top: 3px solid #2d9e44;
}
a{
    text-decoration: none !important;
}
.hd-logo {
    width: 400px;
    float: left;
    background: #0c0f13;
    padding: 5px 19px;
}

.hd-logo .fa {
    font-size: 25px;
    padding-top: 9px;
}

.hd-logo a {
    color: #fff;
}

.menu-left ul {
    padding: 0px;
    margin: 0px;
}

.menu-left ul li {
    list-style: none;
    float: left;
}

.menu-left ul li a {
    padding: 17px 14px;
    display:block;
    color: #fff;
}

.menu-left ul li a:hover{
    background: #2d9e44;
    color:#fff;
}
.menu-right ul {
    padding: 0px;
    margin: 0px;
}

.menu-right ul li {
    list-style: none;
    float: left;
}

.menu-right ul li a {
    color: #fff;
    display:block;
    padding: 17px 14px;
}
.menu-right ul li a:hover{
    background: #2d9e44;
    color:#fff;
}

.hd-menu {
    padding:0px 20px;
    width: calc(100% - 400px);
    float:left;
}
.ds-sidebar {
    width: 400px;
    float: left;
    background: #15181c;
    min-height: 93.5vh;
}

nav {
    background: #0c0f13;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
    display: block;
    padding:19px 28px;
    font-size:17px;
    border-bottom: 1px solid #1e2125;
}
nav ul li a:hover{
    background: #2d9e44;
    color:#fff;
}

nav ul li a .fa {
    padding-right: 14px;
    font-size: 19px;
}
.profile-area {
    padding: 25px 20px;
}

.profile-area .pf-img img {
    border: 3px solid #2d9e44;
    border-radius: 8px;
}

.profile-area .pf-name {
    color: #fff;
}

.profile-area .pf-name h4 {
    font-size: 27px;
    margin-top: 29px;
    padding-bottom: 0px;
}

.profile-area .pf-name .progress {
    background: #0c0f13;
}

.profile-area .pf-name .progress .progress-bar {
    background-color: #2d9e44;
}
.home_welcome {
    text-align: center;
    font-size: 27px;
    margin: 13px 0px 11px 0px;
    padding: 25px;
}
.home_welcome:before {
    content: '';
    border: 1px solid #ececec;
    vertical-align: middle;
    display: inline-table;
    width: 172px;
    margin-right: 19px;
}
.home_welcome:after {
    content: '';
    border: 1px solid #ececec;
    vertical-align: middle;
    display: inline-table;
    width: 172px;
    margin-left: 19px;
}
.ds-cont, .page-content  {
    float: right;
    width: calc(100% - 400px);
}
.footer-addrs {
    padding: 36px 19px 15px;
}

.footer-addrs ul {
    padding: 0px;
    margin: 0px;
}

.footer-addrs ul li {
    list-style: none;
    margin-bottom: 5px;
}

.footer-addrs ul li a {
    color: #fff;
}

.footer-addrs ul li .fa {
    float: left;
    width: 31px;
    text-align: center;
}

.footer-addrs ul li a .fa {
    color: #2d9e44;
}
.btn-green.open_schedule_appintment_patient{
    background: #2d9e44;
    padding: 5px 15px;
    margin-top: 11px;
    margin-right: 12px;}
#doctor_search{
    width: 100%;
    text-align: center;
    background: none;
}
#doctor_search h5.with-border.ds-heading-sec {
    color: #fff;
    font-size: 36px;
    line-height: inherit !important;
    padding: 0px;
    border: 0px;
}
#doctor_search .ds-heading-sec .fa {
    position: relative;
    background: none;
    color: #fff;
    font-size: 32px;
    padding: 0;
    border-radius: 42px;
    left: 0;
    top: 0;
}
#doctor_search .ds-heading-sec span {
    font-size: 18px;
    color: #fff;
}
#doctor_search .bck-crd {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
}
.ds-feild-section {
    display: table;
    margin: 0 auto;
    float: none;
}
.select2-selection span{display:none !important}
input.btn.btn-primary.doctor_search_button {
    background: #2d9e44;
    color: #fff;
    border: 0px;
    font-size: 21px;
    padding: 7px 50px;
    margin-top: 22px;
}
.ds-feild-section .form-control{

    border: 0px !important;
    border-radius: 0px;
}
form#form-doctor-search .col-md-4 {
    padding: 0px 3px;
}
.doc_search_home{
    min-height: 197px !important;
    padding: 41px 0px !important;
    background: linear-gradient(rgba(21, 24, 28, 0.65), rgba(21, 24, 28, 0.65)), url(../img/34601926.jpg) center center !important
}
.doc_search_home{

}

.prls-img img {
    border-radius: 100%;
    border: 2px solid;
    width: 100%;
}

.prls-img {
    float: left;
    width: 30%;
    position: absolute;
    padding-top: 2%;
}

.prls-details {
    float: right;
    width: 79%;
    background: #f2f5f8;
    padding: 20px 15px 23px 110px;
    border-right: 2px solid;
}

.prls-details h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
}

.provider-list {
    position: relative;
    margin-bottom: 24px;
}


.offline {
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 100%;
    position: absolute;
    margin-right: 16px;
    right: 19px;
}

.btn-primary {
    color: #fff;
    background-color: #005d8f;
    border-color: #005d8f;
    padding: 4px 15px;
}

.btn-default {
    color: #fff;
    background-color: #15181c;
    border-color: #15181c;
    padding: 4px 15px;
}
.btn-primary:hover {
    background-color: #05354e;
    border-color: #05354e;
}

.btn-default:hover {
    background-color: #2d9e44;
    border-color: #2d9e44;
    color: #fff;
}
.inner-result .prls-details {
    min-height: 236px;
    padding-top: 28px;
}
.inner-result .prls-img img {
    width: 100%;
}
.inner-result .provider-list{
    margin-bottom: 35px;}