@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body {
    font-family: 'Open Sans', sans-serif !important;
}
body.login{
    background:url(../images/dreamstime_m_5156311.jpg) center center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}
body.search{
    background: linear-gradient(rgba(21, 24, 28, 0.56), rgba(21, 24, 28, 0.58)), url(../images/dreamstime_m_5156311.jpg) center center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}
header.header {
    border-top: 2px solid #2d9e44;
}
.cnt {
    min-height: 600px;
}
.top_header {
    background: #15181c;
    color: #fff;
}

.top_header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.top_header ul li a {
    color: #fff;
    display: block;
    padding: 13px 20px;
    text-decoration: none;
}

.top_header ul li {
    float: left;
}
.top_header ul.right li {
    float: right;
}
.top_header ul.right li.active {
    background: #2d9e44;
}
.top_header ul li.dark {
    background: #000;
}
.top_header ul li:hover{
    background:#fff !important;
}
.top_header ul li:hover a{
    color:#15181c;
}
.main_header {
    background: rgba(255, 255, 255, 0.92);
}
.nav {
    float: right;
}

.logo {
    float: left;
    padding-top: 4px;
}
footer.footer {
    background: #15181c;
    color: #fff;
    text-align:left !important;
    max-height:inherit !important;
    padding: 35px 0px;
}

footer.footer h2 {
    padding: 0px;
    margin: 0px;
    font-size: 23px;
    margin-bottom: 13px;
}

footer.footer ul {
    padding: 0px;
    /* margin: 0px; */
}

footer.footer ul li {
    list-style: none;
    line-height: 26px;
}

footer.footer ul li a {
    color: #fff;
    text-decoration: none;
}
footer.footer ul li a:hover{
    color: #2d9e44;
}
.nav ul {
    padding: 0px;
    margin: 0 auto;
}

.nav ul li {
    list-style: none;
    float: left;
    font-size: 17px;
    text-transform: uppercase;
}

.nav ul li a {
    text-decoration: none;
    color: #15181c;
    padding: 28px 24px;
    display: block;
}
.nav ul li:hover, .nav ul li.active{
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #82C143), color-stop(1, #249B46) );
    background-image: -o-linear-gradient(bottom, #82C143 0%, #249B46 100%);
    background-image: -moz-linear-gradient(bottom, #82C143 0%, #249B46 100%);
    background-image: -webkit-linear-gradient(bottom, #82C143 0%, #249B46 100%);
    background-image: -ms-linear-gradient(bottom, #82C143 0%, #249B46 100%);
    background-image: linear-gradient(to bottom, #82C143 0%, #249B46 100%);
}
.nav ul li:hover a, .nav ul li.active a{
    color:#fff;
}
.ft-logo {
    margin-bottom: 16px;
}
footer.footer .list {
    border-left: 1px solid #2a3038;
    height: 100%;
    padding: 17px 44px;
    height: 220px;
}
footer.footer .rehab ul
li .fa {
    font-size: smaller;
    color: #2d9e44;
    font-size: 20px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
footer.footer .rehab ul li a{
    float: left;
    display: flex;
}
.copyright {
    background: #fff;
    color: #15181c;
    padding: 20px 0px;
}
.login_area {
    background: rgba(21, 24, 28, 0.83);
    width: 692px;
    margin: 10% auto;
    padding: 24px 36px;
    box-shadow: 3px 4px 1px rgba(0, 0, 0, 0.33);
    color: #fff;
    position:relative;
}
.login_area a{
    color:#fff;
}
.la-top.clearfix {
    padding-bottom: 12px;
}
.la-top h2{
    padding-top: 14px;
}
.inpt-area {
    margin-bottom: 10px;
}

.inpt-area input {
    padding: 17px 20px;
    height: 61px;
}

.inpt-area input[submit] {
    float: right;
    width: auto;
}

.inpt-area input[type='submit'] {
    float: right;
    width: auto;
    background-image: -webkit-gradient(   linear,   left top,   left bottom,   color-stop(0, #82C143),   color-stop(1, #249B46)  );
    background-image: -o-linear-gradient(bottom, #82C143 0%, #249B46 100%);
    background-image: -moz-linear-gradient(bottom, #82C143 0%, #249B46 100%);
    background-image: -webkit-linear-gradient(bottom, #82C143 0%, #249B46 100%);
    background-image: -ms-linear-gradient(bottom, #82C143 0%, #249B46 100%);
    background-image: linear-gradient(to bottom, #82C143 0%, #249B46 100%);
    border: 0px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    right: 35px;
    margin-top:-71px;
    font-size: 20px;
    padding: 2px 33px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
p.sign-note.text-left{
    float: left;
}
.search_section {
    color: #fff;
    margin: 12% auto;
    position:relative;
}

.search_section h1 {
    font-size: 52px;
}
.search_area.clearfix {
    background: rgba(21, 24, 28, 0.65);
    padding: 18px;
    width: 765px;
    margin: 0 auto;
    position: relative;
    margin-top: 32px;
    margin-bottom: 25px;
}
.search_area .inpt-area{margin:0px;}
.search_area .inpt-area input[type='submit'] {
    right: 18px;
    margin-top: -61px;
    width: 30%;
}
.provider a {
    color: #fff;
    font-size: 19px;
}
.search_area .inpt-area select {
    width: 69%;
    height: 61px;
    border-radius: 0px;
    padding: 0px 15px;
    font-size: 20px;
    color: #343434;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.result-area {
    padding: 60px 0;
}
.cnt-area {
    background: #fff;
    min-height: 926px;
    width: 70%;
    float: left;
    padding: 20px;
}
.sidebar {
    background: #15181c;
    min-height: 928px;
    width: 30%;
    float: left;
    border-top: 3px solid #2d9e44;
    padding: 0px 23px;
    color: #fff;
}
.sidebar .btn.btn-filter:hover {
    background: #1c652b;
    color: #fff;
}
.breadcrumb {
    padding: 0px;
    background: none;
    margin-bottom: 35px;
}

.breadcrumb ul {
    padding: 0;
    margin: 0px;
}

.breadcrumb ul li {
    list-style: none;
    float: left;
    font-size: 20px;
    padding: 0px 5px;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: #005d8f;
}

.sorting {
    float: right;
}
.sidebar .btn.btn-filter {
    background: #2d9e44;
}
.form-input {
    position: relative;
    margin-bottom: 14px;
}

.form-input input {
}

.form-input .fa {
    right: 13px;
    position: absolute;
    top: 9px;
    color: #343434;
}
.sidebar .btn.btn-filter {
    background: #2d9e44;
    font-size: 22px;
    padding: 11px 0px;
}
.sidebar .btn.btn-filter .fa {
    position: relative;
    right: 0;
    top: 0px;
    color: #fff;
}
.prls-img img {
    border-radius: 100%;
    border: 2px solid;
}

.prls-img {
    float: left;
    width: 30%;
    position: absolute;
    padding-top: 2%;
}

.prls-details {
    float: right;
    width: 79%;
    background: #f2f5f8;
    padding: 20px 15px 23px 110px;
    border-right: 2px solid;
}

.prls-details h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
}

.provider-list {
    clear: both;
    position: relative;
    margin-bottom: 24px;
}

.offline {
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 100%;
    position: absolute;
    right: 16px;
}

.btn-primary {
    color: #fff;
    background-color: #005d8f;
    border-color: #005d8f;
    padding: 4px 15px;
}

.btn-default {
    color: #fff;
    background-color: #15181c;
    border-color: #15181c;
    padding: 4px 15px;
}
.btn-primary:hover {
    background-color: #05354e;
    border-color: #05354e;
}

.btn-default:hover {
    background-color: #2d9e44;
    border-color: #2d9e44;
    color: #fff;
}
.inner-result .prls-details {
    min-height: 236px;
    padding-top: 28px;
}
.inner-result .prls-img img {
    width: 100%;
}
.inner-result .provider-list{
    margin-bottom: 35px;}
.about {
    padding: 0px 15px;
    padding-bottom: 16px;
}
.panel-default>.panel-heading{

    color: #fff;
    background-color: #005d8f;
    border-color: #005d8f;
}
.panel-default>.panel-heading i.fa {
    padding-right: 4px;
}