#service {
    padding: 3px 0px 36px;
    background-attachment: fixed !important;
    background-size: cover !important;
}
.Virtual-heading {
    border-bottom: 2px solid rgba(173, 9, 97, 0.17);
    width: 96%;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 8px;
    padding-top: 25px;
    color: #fff;
    font-weight: normal;
}
.Virtual-heading {
    border-bottom: 1px solid rgba(175, 175, 175, 0.16);
    color: #36a5bc;
}

h2.simple.pra {
    color: #fff;
    font-weight: normal;
    margin: 0px;
    font-size: 22px;
}
h2.simple.pra {
    color: #656565;
}
.become-provider .dropup, .dropdown {
    position: relative;
    float: left;
    margin-top: 00px;
}


.become-provider .btn-primary {
    background-color: #ffffff;
    border-color: #e0e0e0;
    border-top: 3px solid #e0e0e0;
    color: #717171;
    font-size: 15px;
    text-align: left;
    padding: 8px 14px 8px;
    width: 323px;
}
.become-provider .btn .caret {
    right: 13px;
    position: absolute;
    top: 19px;
}


.become-provider .open > .dropdown-menu {
    display: block;
    width: 100%;
}






.Board-Certified-but .Board-Certified-yes {
      width: 23%;
    border: 1px solid #24a4b5;
    padding: 5px 11px 0px;
    border-radius: 4px;
    height: 32px;
    margin-right: 15px;
}
.Board-Certified-but input#inf_option_HealthNewsletter {
        float: left;
    position: relative;
    top: 1px;
    height: 20px;
    margin-bottom: 0px;
}
.Board-Certified-but .Board-Certified-yes.pull-right p {
       float: right;
    color: #24a4b5;
    font-weight: 300;
    margin-top: 2px;
    font-size: 14px;
}

.Board-Certified-but .Board-Certified-no.pull-right {
        width: 21%;
    border: 1px solid #24a4b5;
    padding: 4px 11px 0px;
    border-radius: 4px;
    height: 31px;
    margin-right: -16px;
   
}

.Board-Certified-but input#inf_option_HealthNewsletter {
       float: left;
    position: relative;
    top: 1px;
    height: 20px;
    margin-bottom: 0px;
}
.Board-Certified-but .Board-Certified-no.pull-right p {
           float: right;
    color: #24a4b5;
    font-weight: 300;
    margin-top: 1px;
    font-size: 14px;
}



.become-provider input {
    border-color: #e0e0e0;
    border-top: 3px solid #e0e0e0;
    height: 41px;
    font-size: 15px;
	margin-bottom: 10px;
}
.become-provider.clearfix {
    padding: 30px 0px 53px;
}

.become-provider .select2-container--default .select2-selection--single .select2-selection__rendered{
	
	color: #8ca4a7!important;
	 font-weight: 100!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	
	    background: #ececec !important;
}


section.become-provider-main h1 {
    text-align: center;
    font-size: 30px;
	    color: #23a4b4;
}
.Board-Certified-main {
    margin-top: 19px;
    padding-bottom: 4px;
    margin-bottom: 0px;
}


.Board-Certified-main h4 {
           font-weight: 400;
    font-size: 19px;
    margin-bottom: 11px;
    margin-top: 11px;
    color: #565656;
}



.Board-Certified-main .btn-info {
      margin: 0px !important;
    background-color: #ffffff;
    border-color: #36a5bc;
    color: #36a5bc !important;
    margin-right: -14px !important;
    margin-left: 25px !important;
    font-weight: normal;
    padding: 4px 25px 4px;
}
.pull-right {
    float: right !important;
}

section.become-provider-main button.btn.btn-primary:hover {
    background: #ffffff;
    border: 1px solid #b9b9b9;
    border-top: 3px solid #989898;
	 color: #b9b9b9;
}


section.become-provider-main hr {
        width: 94%;
    text-align: center;
    border: 1px solid rgba(152, 150, 150, 0.13);
    height: 0px;
    margin-left: 14px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #b9b9b9!important;
    background-color: #ffffff!important;
    border-color: #b9b9b9!important;
}
section.become-provider-main .dropdown-menu > li > a {
  
    border-bottom: 1px solid #ccc;
}

section.become-provider-main .Submit .btn-info {
    background-color: #24a4b5;
    border-color: #ffffff;
    width: 64%;
    font-size: 21px;
	    margin-top: -8px;
}
section.become-provider-main {
    padding-top: 35px;
}


.inquire-phone .fa.fa-phone {
    background: #23a4b4;
    color: #fff;
    font-size: 36px;
    width: 51px;
    height: 53px;
    padding: 10px 13px 0px;
    border-radius: 100%;
    float: left;
    margin-right: 6px;
    margin-top: 9px;
}

.inquire-phone  h5 {
    font-size: 22px;
    color: #4b4b4b;
    margin: 0px;
    font-weight: normal;
	    margin-top: 6px;
    margin-bottom: 2px;
}


.inquire-phone  h2 {
    margin: 0px;
    font-size:26px;
    color: #24a4b4;
    font-weight: normal;
}
.become-provider-main input#otherSpecialty {
    margin-top: 10px;
}
.inquire-phone img.inqurie-img {
    display: table;
    margin: 0 auto;
    float: none;
    text-align: center;
    width: 100%;
}
.Board-Certified-main .btn-info:hover {
    background: #36a5bc !important;
    color: #fff !important;
    border: 1px solid #23a4b4;
}
section.become-provider-main .Submit .btn-info:hover {
    background: #006d84;
}
.control-panel .page-content {
    background-color: #ffffff !important;
}
.become-provider .dropup, .dropdown{    width: 100%;}

.btn.btn-default {
    background-color: #fff;
    border-color: #23a4b4;
    color: #23a4b4 !important;
    font-weight: 100;
    margin-left: 5px !important;
    border-radius: 3px !important;
    padding: 4px 19px 4px;
}
.btn.btn-default.active{
    background-color: #23a4b4;
    border-color: #23a4b4;
	color: #fff !important;}
	
.btn.btn-default:hover {
    background-color: #23a4b4;
    border-color: #23a4b4;
	color: #fff !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered{    overflow: inherit!important;    height: 27px;}

@media only screen and ( max-width: 1200px ) {
	
	.become-provider input {
    width: 100% !important;
}
.Board-Certified-main .btn-info{    margin-left: 23px !important;}
}  

@media only screen and ( max-width: 980px ) {
	
	.inquire-phone .fa.fa-phone {
    float: none !important;
    text-align: center !important;
    display: table !important;
    margin: auto !important;
}
.inquire-phone  h5{    text-align: center;}
.inquire-phone  h2{    text-align: center;}
.Board-Certified-main .btn-info{    padding: 4px 13px 4px;    margin-left: 17px !important;}	
section.become-provider-main .Submit .btn-info{    width: 80%;}
	
	
}

@media only screen and ( max-width: 784px ) {
	.become-provider .select2-container--default .select2-selection--single .select2-selection__rendered{    margin-bottom: 10px;}
	.select2-container--default .select2-selection--single .select2-selection__arrow{    height: 37px;}
	section.become-provider-main .Submit .btn-info{    width: 100%;}
}

@media only screen and ( max-width: 479px ) {
	.Board-Certified-main .btn-info {
    width: 100%;
    padding: 4px 13px 4px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 6px !important;
}

.col-md-6.Board-Certified-but.pull-right.row {
    width: 100%;
    float: left !important;
}
.btn-group.pull-right {
    width: 100%;
    margin-bottom: 10px;
}	
}




